/* b */
@media screen {
    .hero {
        height: 100%;
    }
    .hero-sub {
        bottom: none;
    }
}

/* s */
@media screen and (min-width:48em){
    .hero {
        height: 100%;
    }
    .hero-sub {
        bottom: none;
    }
}

/* m */
@media screen and (min-width:64em){
    .hero {
        height: 100%;
    }
    .hero-sub {
        bottom: none;
    }
}

/* l */
@media screen and (min-width:100em){
    .hero {
        height: 380px;
    }
    .hero-sub {
        bottom: -4rem;
    }
}
