{
  "root": true,
  "extends": ["custom"],
  "parserOptions": {
    "tsconfigRootDir": "."
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": [
          "tsconfig.json"
        ]
      }
    }
  }
}
