<!doctype html>
<html lang="en" data-h2>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="icon"
      href="/images/digital-talent/favicon.ico"
      sizes="any"
      data-rh="true"
    />
    <link
      rel="icon"
      href="/images/digital-talent/favicon.svg"
      type="image/svg+xml"
      data-rh="true"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/digital-talent/favicon-32x32.png"
      data-rh="true"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/digital-talent/favicon-16x16.png"
      data-rh="true"
    />
    <link
      rel="apple-touch-icon"
      href="/images/digital-talent/apple-touch-icon.png"
      data-rh="true"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/images/digital-talent/apple-touch-icon-144x144.png"
      data-rh="true"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/images/digital-talent/apple-touch-icon-120x120.png"
      data-rh="true"
    />
    <link
      rel="mask-icon"
      href="/images/digital-talent/safari-pinned-tab.svg"
      data-rh="true"
      color="#9747FF"
    />
    <meta name="msapplication-TileColor" content="#9747FF" data-rh="true" />
    <meta name="theme-color" content="#9747FF" data-rh="true" />
    <link rel="manifest" href="/site-en.webmanifest" data-rh="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div
      id="root"
      role="presentation"
      class="text-black dark:text-white"
      data-h2-color="base(black)"
      data-h2-background="base(background)"
      data-h2-font-family="base(sans)"
    ></div>
    <script>
      const filterUnusable = (value) =>
        !value.startsWith("$") && value.length > 0 ? value : undefined;
      if (!window.__SERVER_CONFIG__) {
        const data = new Map([
          // auth settings
          [
            "OAUTH_POST_LOGOUT_REDIRECT_EN",
            filterUnusable("$OAUTH_POST_LOGOUT_REDIRECT_EN") ??
              "<%= OAUTH_POST_LOGOUT_REDIRECT_EN %>",
          ],
          [
            "OAUTH_POST_LOGOUT_REDIRECT_FR",
            filterUnusable("$OAUTH_POST_LOGOUT_REDIRECT_FR") ??
              "<%= OAUTH_POST_LOGOUT_REDIRECT_FR %>",
          ],
          [
            "OAUTH_LOGOUT_URI",
            filterUnusable("$OAUTH_LOGOUT_URI") ?? "<%= OAUTH_LOGOUT_URI %>",
          ],

          // Feature flags
          [],

          // Azure application insights not used in dev
          [
            "APPLICATIONINSIGHTS_CONNECTION_STRING",
            filterUnusable("$APPLICATIONINSIGHTS_CONNECTION_STRING"),
          ],

          // Logging levels
          [
            "LOG_CONSOLE_LEVEL",
            filterUnusable("$LOG_CONSOLE_LEVEL") ?? "<%= LOG_CONSOLE_LEVEL %>",
          ],
          [
            "LOG_APPLICATIONINSIGHTS_LEVEL",
            filterUnusable("$LOG_APPLICATIONINSIGHTS_LEVEL") ??
              "<%= LOG_APPLICATIONINSIGHTS_LEVEL %>",
          ],
        ]);

        window.__SERVER_CONFIG__ = data;
      }
    </script>
    <%- noScript %>
  </body>
</html>
