# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  # JAVASCRIPT package.json updates

  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 15

  # This ignores all updates to tc-report, since it's now served as a static website.
  #
  #   * We will occassionally still get security vulnerability warnings, for
  #     which merging the dependabot PR will NOT update the static website.
  #     Update would require a manually rebuild.
  #
  #   * Rebuild is likely not necessary because the website is only a simple
  #     front-end.
  #
  #  * We can't disable security vulnerability PRs without disabling for the whole repo.
  #
  #   * Example: https://github.com/GCTC-NTGC/gc-digital-talent/pull/2073
  #
  - package-ecosystem: "npm"
    directory: "/tc-report"
    schedule:
      interval: "weekly"
    ignore:
      # Ignores all dependencies.
      - dependency-name: "*"

  # PHP composer.json package updates

  - package-ecosystem: "composer"
    directory: "/api"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 15

  - package-ecosystem: "composer"
    directory: "/frontend/admin"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 15

  - package-ecosystem: "composer"
    directory: "/frontend/talentsearch"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 15

  # DOCKER image updates

  - directory: "/api"
    package-ecosystem: "docker"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 0

  - directory: "/infrastructure/php-container"
    package-ecosystem: "docker"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 0

  - directory: "/infrastructure/maintenance-container"
    package-ecosystem: "docker"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 0

  # GITHUB ACTIONS external action updates

    # Workflow files stored in the
    # default location of `.github/workflows`
  - directory: "/"
    package-ecosystem: "github-actions"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 0
