DirectorySlash off

<IfModule mod_rewrite.c>
    RewriteEngine on

    # Strip trailing slash from all urls and redirect back to public url, unless already pointing to a public folder
    RewriteCond %{REQUEST_URI} ^/(.+)/$
    RewriteCond %{REQUEST_URI} !/public/$
    RewriteRule ^ %{ENV:APP_URL}/%1 [L,R=301]

    # Send admin requests to admin folder
    RewriteRule ^admin(/(.*))?$ app/admin/$2 [L]
    # Send localized admin requests also to admin folder;
    RewriteRule ^(en|fr)/admin(/(.*))?$ app/admin/$3 [L]

    # Send talent requests to talentsearch folder
    RewriteRule ^talent(/(.*))?$ app/talentsearch/$2 [L]
    # Send localized talent requests also to talentsearch folder;
    RewriteRule ^(en|fr)/talent(/(.*))?$ app/talentsearch/$3 [L]
</IfModule>

#<IfModule mod_headers.c>
#    RequestHeader set X-Forwarded-Host "dev-talentcloud.tbs-sct.gc.ca"
#    RequestHeader set Forwarded "host=dev-talentcloud.tbs-sct.gc.ca;proto=https"
#</IfModule>

# Security headers
#Header add X-Content-Type-Options nosniff
#Header add X-XSS-Protection "1; mode=block"
#Header add  Strict-Transport-Security "max-age=31536000; includeSubdomains;"
#Header add Cache-Control "max-age=31536000"
#Header add Pragma no-cache
# Policy headers
#Header add Referrer-Policy "no-referrer-when-downgrade"
#Header add Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https:/www.google-analytics.com https:/www.googletagmanager.com https:/tagmanager.google.com https:/code.jquery.com https:/cdn.datatables.net https:/cdnjs.cloudflare.com https:/cdn.jsdelivr.net https:/html2canvas.hertzen.com https:/stackpath.bootstrapcdn.com; img-src 'self' data: https:/www.google-analytics.com https:/ssl.gstatic.com https:/www.gstatic.com https:/www.gravatar.com https:/images.unsplash.com; style-src 'self' 'unsafe-inline' https:/tagmanager.google.com https:/fonts.googleapis.com https:/code.ionicframework.com https:/cdn.datatables.net https:/stackpath.bootstrapcdn.com https:/cdnjs.cloudflare.com; font-src 'self' data: https:/fonts.gstatic.com https:/tagmanager.google.com https:/code.ionicframework.com https:/stackpath.bootstrapcdn.com; frame-src 'self'; object-src 'self'; connect-src 'self' https:/api.github.com https:/www.google-analytics.com;"
#Header add Feature-Policy "geolocation 'none'; midi 'none'; sync-xhr 'none'; microphone 'none'; camera 'none'; magnetometer 'none'; gyroscope 'none'; fullscreen 'self'; payment 'none';"
