[data-h2-align-content*="MEDIAKEY(center)"] {
  align-content: center;
}

[data-h2-align-content*="MEDIAKEY(flex-end)"] {
  align-content: flex-end;
}

[data-h2-align-content*="MEDIAKEY(flex-start)"] {
  align-content: flex-start;
}

[data-h2-align-content*="MEDIAKEY(space-around)"] {
  align-content: space-around;
}

[data-h2-align-content*="MEDIAKEY(space-between)"] {
  align-content: space-between;
}

[data-h2-align-content*="MEDIAKEY(stretch)"] {
  align-content: stretch;
}