[data-h2-align-items*="MEDIAKEY(normal)"] {
  align-items: normal;
}

[data-h2-align-items*="MEDIAKEY(baseline)"] {
  align-items: baseline;
}

[data-h2-align-items*="MEDIAKEY(center)"] {
  align-items: center;
}

[data-h2-align-items*="MEDIAKEY(flex-end)"] {
  align-items: flex-end;
}

[data-h2-align-items*="MEDIAKEY(flex-start)"] {
  align-items: flex-start;
}

[data-h2-align-items*="MEDIAKEY(stretch)"] {
  align-items: stretch;
}