[data-h2-order*="MEDIAKEY(1)"] {
  order: 1;
}

[data-h2-order*="MEDIAKEY(2)"] {
  order: 2;
}

[data-h2-order*="MEDIAKEY(3)"] {
  order: 3;
}

[data-h2-order*="MEDIAKEY(4)"] {
  order: 4;
}

[data-h2-order*="MEDIAKEY(5)"] {
  order: 5;
}

[data-h2-order*="MEDIAKEY(6)"] {
  order: 6;
}

[data-h2-order*="MEDIAKEY(7)"] {
  order: 7;
}

[data-h2-order*="MEDIAKEY(8)"] {
  order: 8;
}

[data-h2-order*="MEDIAKEY(9)"] {
  order: 9;
}

[data-h2-order*="MEDIAKEY(10)"] {
  order: 10;
}

[data-h2-order*="MEDIAKEY(11)"] {
  order: 11;
}

[data-h2-order*="MEDIAKEY(12)"] {
  order: 12;
}