[data-h2-text-align*="MEDIAKEY(center)"] {
  text-align: center;
}

[data-h2-text-align*="MEDIAKEY(justify)"] {
  text-align: justify;
}

[data-h2-text-align*="MEDIAKEY(right)"] {
  text-align: right;
}

[data-h2-text-align*="MEDIAKEY(left)"] {
  text-align: left;
}