[data-h2-visibility*="MEDIAKEY(invisible)"] {
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -100vw;
  width: 1px;
}

[data-h2-visibility*="MEDIAKEY(hidden)"] {
  display: none;
  visibility: hidden;
}

[data-h2-visibility*="MEDIAKEY(visible)"] {
  display: block;
  height: auto;
  overflow: auto;
  position: static;
  top: auto;
  left: auto;
  width: auto;
  visibility: visible;
}

[data-h2-visibility*="MEDIAKEY:a(invisible)"]:active {
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -100vw;
  width: 1px;
}

[data-h2-visibility*="MEDIAKEY:a(hidden)"]:active {
  display: none;
  visibility: hidden;
}

[data-h2-visibility*="MEDIAKEY:a(visible)"]:active {
  display: block;
  height: auto;
  overflow: auto;
  position: static;
  top: auto;
  left: auto;
  width: auto;
  visibility: visible;
}

[data-h2-visibility*="MEDIAKEY:h(invisible)"]:hover {
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -100vw;
  width: 1px;
}

[data-h2-visibility*="MEDIAKEY:h(hidden)"]:hover {
  display: none;
  visibility: hidden;
}

[data-h2-visibility*="MEDIAKEY:h(visible)"]:hover {
  display: block;
  height: auto;
  overflow: auto;
  position: static;
  top: auto;
  left: auto;
  width: auto;
  visibility: visible;
}

[data-h2-visibility*="MEDIAKEY:f(invisible)"]:focus {
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -100vw;
  width: 1px;
}

[data-h2-visibility*="MEDIAKEY:f(hidden)"]:focus {
  display: none;
  visibility: hidden;
}

[data-h2-visibility*="MEDIAKEY:f(visible)"]:focus {
  display: block;
  height: auto;
  overflow: auto;
  position: static;
  top: auto;
  left: auto;
  width: auto;
  visibility: visible;
}

[data-h2-visibility*="MEDIAKEY:d(invisible)"]:disabled {
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -100vw;
  width: 1px;
}

[data-h2-visibility*="MEDIAKEY:d(hidden)"]:disabled {
  display: none;
  visibility: hidden;
}

[data-h2-visibility*="MEDIAKEY:d(visible)"]:disabled {
  display: block;
  height: auto;
  overflow: auto;
  position: static;
  top: auto;
  left: auto;
  width: auto;
  visibility: visible;
}