.banner,
.banner__content {
  z-index: 3;
}

.banner__content {
  padding: 1rem 2rem;
}

.banner__fold {
  bottom: 0.5rem;
  height: 4rem;
  z-index: 1;
  width: 40%;
}

.banner__fold--before {
  left: 0;
  transform: translateX(-33%);
}

.banner__fold--after {
  right: 0;
  transform: translateX(33%);
}
