.DS_Store
node_modules
dist

# Cypress artifacts
apps/e2e/cypress/screenshots
apps/e2e/cypress/videos
apps/e2e/cypress/reporters
apps/e2e/cypress/downloads

.jekyll-cache
.turbo
.env


# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
