.DS_Store
node_modules
frontend/*/package-lock.json
package-lock.json

# TODO: Remove once all feature branches with auth dir are complete.
auth/

# Cypress artifacts
frontend/cypress/screenshots
frontend/cypress/videos
frontend/cypress/reporters