{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 80,
  "tabWidth": 2,
  "endOfLine": "auto",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "./apps/web/src/assets/css/tailwind.css",
  "tailwindFunctions": [
    "tv"
  ]
}
