[data-h2] table {
    width: 100%;
    border-collapse: collapse;
}

[data-h2] table tbody tr:nth-of-type(odd) {
    background-color: rgba(71, 62, 114, 0.12);
}

[data-h2] table tbody tr:nth-of-type(even) {
    background-color: #FAFAFA;
}

[data-h2] body {
    position: absolute;
    margin: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
}

[data-h2] .container {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

[data-h2] .content-inner {
    height: 100%;
}

[data-h2] .dashboard {
    flex-grow: 1;
}
