[data-h2] table {
    width: 100%;
    border-collapse: collapse;
}

[data-h2] table tbody tr:nth-of-type(odd) {
    background-color: rgba(71, 62, 114, 0.12);
}

[data-h2] table tbody tr:nth-of-type(even) {
    background-color: #FAFAFA;
}

[data-h2] body {
    position: absolute;
    margin: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
}

[data-h2] .container {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

[data-h2] .content-inner {
    height: 100%;
}

[data-h2] .dashboard {
    flex-grow: 1;
}

[data-h2] .toast {
    padding: .7rem 1rem .7rem 1rem;
    display: flex;
    justify-content: stretch;
    align-items: center;
    border-radius: .2rem;
}

[data-h2] .toast:last-child {
    margin-top: 1rem;
}

[data-h2] .toast-success {
    background-color: #F9C160;
    color: #072131;
    font-size: large;
    font-weight: 600;
}

[data-h2] .toast-error {
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: large;
    font-weight: 600;
}
