[data-reach-alert-dialog-overlay] {
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 9999;
}

[data-reach-alert-dialog-content] {
  padding: 1.5rem;
  width: 95vw;
}

.alert-dialog__title {
  padding-right: 2rem;
  z-index: 1;
}

.alert-dialog-close {
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 100ms ease-in;
  z-index: 2;
}

.alert-dialog-close:hover {
  opacity: 1;
}

.alert-dialog-close__icon {
  height: 1rem;
  width: 1rem;
}

.alert-dialog__header {
  margin: -1.5rem -1.5rem 0;
}


.alert-dialog__content > :first-child,
.alert-dialog__footer > :first-child {
  margin-top: 0;
}

.alert-dialog__content > :last-child,
.alert-dialog__footer > :last-child {
  margin-bottom: 0;
}

/* Small */
@media (min-width: 48rem) {
}

/* Medium */
@media (min-width: 64rem) {
  [data-reach-alert-dialog-content] {
    width: 60vw;
  }
}

/* Large */
@media (min-width: 100rem) {
}
