$h2-map-sides: (
  "all": "",
  "top": "-top",
  "right": "-right",
  "bottom": "-bottom",
  "left": "-left",
  "top-right": "",
  "top-bottom": "",
  "top-left": "",
  "bottom-right": "",
  "bottom-left": "",
  "right-left": ""
);