.Chip__Dismiss:focus-visible {
  outline: 2px solid;
  outline-offset: 2px;
}

.Chip__Dismiss--primary:focus-visible {
  outline-color: rgba(var(--h2-color-primary), 1);
}

.Chip__Dismiss--secondary:focus-visible {
  outline-color: rgba(var(--h2-color-secondary), 1);
}

.Chip__Dismiss--gray:focus-visible {
  outline-color: rgba(var(--h2-color-gray), 1);
}
