/* The element this class is applied to doesn't accept data attributes, so this value was required to be set in CSS instead */
.side-menu {
  height: 100%;
}

/* This value couldn't be set using Hydrogen because it takes advantage of a class modifier to alter styles */
.side-menu .side-menu__item--active {
  background-color: rgba(255, 255, 255, 0.2);
}

/* data-h2 is required for the following styles because they need to override Hydrogen attribute styles */
[data-h2] .side-menu__item .side-menu__item__label {
  visibility: hidden;
  position: absolute;
  left: -100%;
  width: 0px;
}

[data-h2] .side-menu--open .side-menu__item .side-menu__item__label {
  visibility: visible;
  position: relative;
  left: auto;
  width: auto;
}
