.side-menu {
    bottom: 0;
    flex-shrink: 0;
    height: 100vh;
    overflow-x: hidden;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 200ms ease-in;
    width: 95vw;
    z-index: 9999;
}

.side-menu--open {
    transform: translateX(0);
}

.side-menu__inner, .side-menu > div {
    height: 100%;
}

.side-menu__content {
    flex-grow: 1;
    overflow-y: auto;
}

.side-menu__item {
    background: none;
    border: none;
    border-bottom: thin solid rgba(255,255,255,0.1);
    overflow: hidden;
    padding: 0.5rem 0.75rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.side-menu__item--active {
    background: rgba(255,255,255,0.1);
}

.side-menu__item > span {
    text-decoration: underline;
}

.side-menu__item:hover {
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}

.side-menu-item__icon {
    flex-shrink: 0;
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.5rem;
}

.side-menu__content-wrapper {
    min-height: 100vh;
    max-width: 100%;
}

@media (min-width: 64em) {
    .side-menu {
        transform: translateX(0);

        /**
         * Container padding - 0.5rem * 2
         * Icon Size - 1.25rem
         * Button padding - 0.75rem * 2
         */
        width: 4rem
    }

    .side-menu--open {
        width: 18rem;
    }

    .side-menu:not(.side-menu--open) .side-menu-item__icon {
        margin-right: 0.75rem;
    }

    .side-menu__content-wrapper {
        margin-left: auto;
        width: calc(100%  - 4rem);
    }

    .side-menu--open ~ .side-menu__content-wrapper {
        width: calc(100%  - 18rem);
    }
}
