.reset-ul {
  list-style: none;
  padding: 0;
}

.input-label-context-button {
  border: none;
  padding: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
}

.button {
  cursor: pointer;
  overflow-wrap: break-word;
}

.disabled {
  cursor: not-allowed;
  opacity: 50%;
}
