button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

.reset-ul {
  list-style: none;
  padding: 0;
}

.input-label-context-button {
  border: none;
  padding: 0;
  vertical-align: middle;
  line-height: 0;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
}

button {
  border: none;
}

.button {
  border: none;
  cursor: pointer;
  overflow-wrap: break-word;
}

.disabled {
  cursor: not-allowed;
  opacity: 50%;
}
