.recruitment-flag {
  position: relative;
}

.recruitment-flag::before,
.recruitment-flag::after {
  bottom: 0;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  width: 0;
  transform: translate(0, 1.5rem);
}

.recruitment-flag::before {
  border-top: 3rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-left: 3rem solid rgba(var(--h2-color-secondary), 1);
  left: 0;
}

.recruitment-flag::after {
  border-top: 3rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-right: 3rem solid rgba(var(--h2-color-secondary), 1);
  right: 0;
}
