{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-private-methods"
  ],
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns":"usage",
      "corejs":3,
      "targets":"firefox 50, IE 11"
   }]
  ]
}

