## Dependencies / Compiled Assets
/node_modules
/dist
/etc/ssl/
!/etc/ssl/.gitkeep
/report
.env

# webpack
/.idea
Homestead.json
Homestead.yaml

# Hidden Files
.DS_Store

/storybook-static/*

# Hydrogen
src/css/hydrogen

# Code Coverage
src/js/tests/coverage
