// Margins
// SIDE, SIZE
// e.g. data-h2-margin="b(top, s)"
// e.g. data-h2-margin="b(right-left, xxl)"
@mixin h2-utility-margin(
  $mediaKey,
  $sideMap,
  $whitespaceMap
) {
  @each $sideKey, $sideValue in $sideMap {
    @each $whitespaceKey, $whitespaceValue in $whitespaceMap {
      [data-h2-margin*="#{$mediaKey}(#{$sideKey}, #{$whitespaceKey})"],
      p[data-h2-margin*="#{$mediaKey}(#{$sideKey}, #{$whitespaceKey})"],
      p+p[data-h2-margin*="#{$mediaKey}(#{$sideKey}, #{$whitespaceKey})"],
      h1[data-h2-margin*="#{$mediaKey}(#{$sideKey}, #{$whitespaceKey})"],
      h2[data-h2-margin*="#{$mediaKey}(#{$sideKey}, #{$whitespaceKey})"],
      h3[data-h2-margin*="#{$mediaKey}(#{$sideKey}, #{$whitespaceKey})"],
      h4[data-h2-margin*="#{$mediaKey}(#{$sideKey}, #{$whitespaceKey})"],
      h5[data-h2-margin*="#{$mediaKey}(#{$sideKey}, #{$whitespaceKey})"],
      h6[data-h2-margin*="#{$mediaKey}(#{$sideKey}, #{$whitespaceKey})"],
      ul[data-h2-margin*="#{$mediaKey}(#{$sideKey}, #{$whitespaceKey})"],
      li[data-h2-margin*="#{$mediaKey}(#{$sideKey}, #{$whitespaceKey})"] {
        @if $sideKey == "top-bottom" or $sideKey == "tb" {
          margin-top: #{$whitespaceValue};
          margin-bottom: #{$whitespaceValue};
        } @else if $sideKey == "right-left" or $sideKey == "rl" {
          margin-right: #{$whitespaceValue};
          margin-left: #{$whitespaceValue};
        } @else if $sideKey == "top-right" {
          margin-top: #{$whitespaceValue};
          margin-right: #{$whitespaceValue};
        } @else if $sideKey == "top-left" {
          margin-top: #{$whitespaceValue};
          margin-left: #{$whitespaceValue};
        } @else if $sideKey == "bottom-right" {
          margin-bottom: #{$whitespaceValue};
          margin-right: #{$whitespaceValue};
        } @else if $sideKey == "bottom-left" {
          margin-bottom: #{$whitespaceValue};
          margin-left: #{$whitespaceValue};
        } @else {
          margin#{$sideValue}: #{$whitespaceValue};
        }
      }
    }
    [data-h2-margin*="#{$mediaKey}(#{$sideKey}, auto)"],
    p[data-h2-margin*="#{$mediaKey}(#{$sideKey}, auto)"],
    p+p[data-h2-margin*="#{$mediaKey}(#{$sideKey}, auto)"],
    h1[data-h2-margin*="#{$mediaKey}(#{$sideKey}, auto)"],
    h2[data-h2-margin*="#{$mediaKey}(#{$sideKey}, auto)"],
    h3[data-h2-margin*="#{$mediaKey}(#{$sideKey}, auto)"],
    h4[data-h2-margin*="#{$mediaKey}(#{$sideKey}, auto)"],
    h5[data-h2-margin*="#{$mediaKey}(#{$sideKey}, auto)"],
    h6[data-h2-margin*="#{$mediaKey}(#{$sideKey}, auto)"],
    ul[data-h2-margin*="#{$mediaKey}(#{$sideKey}, auto)"],
    li[data-h2-margin*="#{$mediaKey}(#{$sideKey}, auto)"] {
      @if $sideKey == "top-bottom" or $sideKey == "tb" {
        margin-top: auto;
        margin-bottom: auto;
      } @else if $sideKey == "right-left" or $sideKey == "rl" {
        margin-right: auto;
        margin-left: auto;
      } @else if $sideKey == "top-right" {
        margin-top: auto;
        margin-right: auto;
      } @else if $sideKey == "top-left" {
        margin-top: auto;
        margin-left: auto;
      } @else if $sideKey == "bottom-right" {
        margin-bottom: auto;
        margin-right: auto;
      } @else if $sideKey == "bottom-left" {
        margin-bottom: auto;
        margin-left: auto;
      } @else {
        margin#{$sideValue}: auto;
      }
    }
  }
}