[data-reach-dialog-content] {
  background: none;
  padding: 0;
  width: 95vw;
}

.dialog-title {
  padding-right: 2rem;
  z-index: 1;
}

.dialog-close {
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 100ms ease-in;
  z-index: 2;
}

.dialog-close:hover {
  opacity: 1;
}

.dialog-close__icon {
  color: #fff;
  height: 1rem;
  width: 1rem;
}

/* Small */
@media (min-width: 48rem) {
}

/* Medium */
@media (min-width: 64rem) {
  [data-reach-dialog-content] {
    width: 60vw;
  }
}

/* Large */
@media (min-width: 100rem) {
}
