@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 245 248 253;
    --color-primary: 155 71 255;
    --shadow-opacity: 0.2;
  }

  :root .dark {
    --color-background: 47 49 61;
    --shadow-opacity: 0.5;
  }

  :root .iap {
    --color-primary: 192 30 90;
  }

  /* :root .iap.dark {} */
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button {
  border: none;
}

p {
  white-space: pre-wrap;
}

button:not(disabled) {
  cursor: pointer;
}

abbr {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

abbr:hover {
  cursor: help;
}

[data-h2] table {
  width: 100%;
  border-collapse: collapse;
}

[data-h2] body {
  position: absolute;
  margin: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
}
