@media screen and (min-width: 48em) {
  [data-h2] .hero-logo {
    transform: translate(-50%, 0);
  }
}

@media screen and (min-width: 48em) {
  [data-h2] .hero-cta {
    transform: translate(-50%, 0);
  }
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button {
  border: none;
}

.reset-ul {
  list-style: none;
  padding: 0;
}

.button {
  border: none;
  cursor: pointer;
  overflow-wrap: break-word;
}

.disabled {
  cursor: not-allowed;
  opacity: 50%;
}


p {
  white-space: pre-wrap;
}

button:not(disabled) {
  cursor: pointer;
}

[data-h2] table {
  width: 100%;
  border-collapse: collapse;
}

[data-h2] table tbody tr:nth-of-type(odd) {
  background-color: rgba(71, 62, 114, 0.12);
}

[data-h2] table tbody tr:nth-of-type(even) {
  background-color: #fafafa;
}

[data-h2] body {
  position: absolute;
  margin: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
}

[data-h2] .container {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

[data-h2] .content-inner {
  height: 100%;
}

[data-h2] .dashboard {
  flex-grow: 1;
}
