@import "./hydrogen.css";
@import "@gc-digital-talent/forms/dist/index.css";
@import "@gc-digital-talent/ui/dist/index.css";
@import "@gc-digital-talent/toast/dist/index.css";

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button {
  border: none;
}

p {
  white-space: pre-wrap;
}

button:not(disabled) {
  cursor: pointer;
}

abbr {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

abbr:hover {
  cursor: help;
}

[data-h2] table {
  width: 100%;
  border-collapse: collapse;
}

[data-h2] body {
  position: absolute;
  margin: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
}

[data-h2] .container {
  display: flex;
  flex-direction: column;
}

[data-h2] .content-inner {
  height: 100%;
}

[data-h2] .dashboard {
  flex-grow: 1;
}
