@import "tailwindcss";
@source "../../../../../packages/**/*.{ts,tsx}";

/* Use .dark class for dark mode instead of auto based on media query */
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant iap (&:where(.iap, .iap *));

/**
* Themeable variables
*
* These are variables that could swap out depending
* on things like media queries, class names, etc.
*
* We need to prefix them with gcdt to avoid
* collision with the variables in the actual config.
*
* See: https://www.figma.com/design/guHeIIh8dqFVCks310Wv0G/Component-library?node-id=4329-315&view=variables&var-set-id=5-901&m=dev
*/
:root {
  /* Colours */
  --gcdt-color-primary-100: #d2f3f1;
  --gcdt-color-primary-200: #a6e6e4;
  --gcdt-color-primary-300: #79d9da;
  --gcdt-color-primary-400: #4cc9cd;
  --gcdt-color-primary-500: #39949a;
  --gcdt-color-primary-600: #266167;
  --gcdt-color-primary-700: #133033;

  --gcdt-color-secondary-100: #e6dbf9;
  --gcdt-color-secondary-200: #ceb8f4;
  --gcdt-color-secondary-300: #b894ee;
  --gcdt-color-secondary-400: #a470e8;
  --gcdt-color-secondary-500: #7e54ae;
  --gcdt-color-secondary-600: #553874;
  --gcdt-color-secondary-700: #2b1c3a;

  --gcdt-color-success-100: #d6efd8;
  --gcdt-color-success-200: #aedfb3;
  --gcdt-color-success-300: #85cf8f;
  --gcdt-color-success-400: #5cbf6c;
  --gcdt-color-success-500: #458f53;
  --gcdt-color-success-600: #2e6039;
  --gcdt-color-success-700: #17301d;

  --gcdt-color-warning-100: #fdead6;
  --gcdt-color-warning-200: #fcd8ac;
  --gcdt-color-warning-300: #fac783;
  --gcdt-color-warning-400: #f8b95a;
  --gcdt-color-warning-500: #ba8343;
  --gcdt-color-warning-600: #7c522d;
  --gcdt-color-warning-700: #3e2616;

  --gcdt-color-error-100: #f9d2db;
  --gcdt-color-error-200: #f3a4b5;
  --gcdt-color-error-300: #ec778d;
  --gcdt-color-error-400: #e64963;
  --gcdt-color-error-500: #ac3747;
  --gcdt-color-error-600: #73252d;
  --gcdt-color-error-700: #391215;

  --gcdt-color-focus-100: oklch(0.91 0.0425 264.99);
  --gcdt-color-focus-200: oklch(0.82 0.087268 265.1505);
  --gcdt-color-focus-300: oklch(0.74 0.1333 263.66);
  --gcdt-color-focus-400: #769cf7;
  --gcdt-color-focus-500: oklch(0.54 0.1427 262.9);
  --gcdt-color-focus-600: oklch(0.4 0.1034 263.15);
  --gcdt-color-focus-700: oklch(0.26 0.058 263.44);

  --gcdt-color-gray-100: #dde2f2;
  --gcdt-color-gray-200: #bec7e1;
  --gcdt-color-gray-300: #a3adcc;
  --gcdt-color-gray-400: #8c96b4;
  --gcdt-color-gray-500: #68718c;
  --gcdt-color-gray-600: #464d62;
  --gcdt-color-gray-700: #252a37;

  --gcdt-color-black: #06070a;
  --gcdt-color-white: #ffffff;

  /* Shadows */
  --gcdt-inset-shadow: inset 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  --gcdt-shadow-sm: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2);
  --gcdt-shadow-md: 0 0.25rem 0.5rem -0.05rem rgba(0, 0, 0, 0.2);
  --gcdt-shadow-lg: 0 0.4rem 0.7rem -0.1rem rgba(0, 0, 0, 0.2);
  --gcdt-shadow-xl: 0 0.55rem 1rem -0.2rem rgba(0, 0, 0, 0.2);
  --gcdt-shadow-2xl: 0 0.7rem 1.5rem -0.3rem rgba(0, 0, 0, 0.2);
  --gcdt-shadow-focus: 0 0 0 0.25rem #6492ff;

  --gcdt-ribbon-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

  --gcdt-gradient-main-linear:
    to right, var(--gcdt-color-warning-400), var(--gcdt-color-success-400),
    var(--gcdt-color-primary-400), var(--gcdt-color-error-400);
}

/**
* Dark mode configuration
*
* Variables that need to swapped out automatically
* when dark mode is enabled.
*
* NOTE: You can manually use a different variable with `dark:`
*/
.dark {
  /** Dark mode shadows */
  --gcdt-inset-shadow: inset 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.5);
  --gcdt-shadow-sm: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.5);
  --gcdt-shadow-md: 0 0.25rem 0.5rem -0.05rem rgba(0, 0, 0, 0.5);
  --gcdt-shadow-lg: 0 0.4rem 0.7rem -0.1rem rgba(0, 0, 0, 0.5);
  --gcdt-shadow-xl: 0 0.55rem 1rem -0.2rem rgba(0, 0, 0, 0.5);
  --gcdt-shadow-2xl: 0 0.7rem 1.5rem -0.3rem rgba(0, 0, 0, 0.5);

  --gcdt-ribbon-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

/**
* IAP specific configuration
*/
.iap {
  --gcdt-color-primary-100: oklch(0.86 0.0592 353.96);
  --gcdt-color-primary-200: oklch(0.74 0.1263 357.2);
  --gcdt-color-primary-300: oklch(0.63 0.1865 1.43);
  --gcdt-color-primary-400: oklch(0.53 0.196 6.18);
  --gcdt-color-primary-500: oklch(0.45 0.1735 8.97);
  --gcdt-color-primary-600: oklch(0.34 0.128 7.38);
  --gcdt-color-primary-700: oklch(0.22 0.0772 4.67);

  --gcdt-color-secondary-100: oklch(0.84 0.0252 278.3);
  --gcdt-color-secondary-200: oklch(0.68 0.0533 279.9);
  --gcdt-color-secondary-300: oklch(0.5 0.0862 277.2);
  --gcdt-color-secondary-400: oklch(0.33 0.104 273.68);
  --gcdt-color-secondary-500: oklch(0.27 0.0975 272.48);
  --gcdt-color-secondary-600: oklch(0.22 0.0695 273.17);
  --gcdt-color-secondary-700: oklch(0.15 0.0382 275.88);

  --gcdt-gradient-main-linear:
    to right, var(--gcdt-color-secondary-400), var(--gcdt-color-primary-400);
}

/**
* Tailwind configuration
*/
@theme inline {
  /** Breakpoints */
  --breakpoint-xs: 48rem;
  --breakpoint-sm: 67.5rem;
  --breakpoint-md: 80rem;
  --breakpoint-lg: 100rem;

  /** Colours */
  --color-*: initial;

  --color-primary: var(--gcdt-color-primary-400);
  --color-primary-100: var(--gcdt-color-primary-100);
  --color-primary-200: var(--gcdt-color-primary-200);
  --color-primary-300: var(--gcdt-color-primary-300);
  --color-primary-400: var(--gcdt-color-primary-400);
  --color-primary-500: var(--gcdt-color-primary-500);
  --color-primary-600: var(--gcdt-color-primary-600);
  --color-primary-700: var(--gcdt-color-primary-700);

  --color-secondary: var(--gcdt-color-secondary-400);
  --color-secondary-100: var(--gcdt-color-secondary-100);
  --color-secondary-200: var(--gcdt-color-secondary-200);
  --color-secondary-300: var(--gcdt-color-secondary-300);
  --color-secondary-400: var(--gcdt-color-secondary-400);
  --color-secondary-500: var(--gcdt-color-secondary-500);
  --color-secondary-600: var(--gcdt-color-secondary-600);
  --color-secondary-700: var(--gcdt-color-secondary-700);

  --color-success: var(--gcdt-color-success-400);
  --color-success-100: var(--gcdt-color-success-100);
  --color-success-200: var(--gcdt-color-success-200);
  --color-success-300: var(--gcdt-color-success-300);
  --color-success-400: var(--gcdt-color-success-400);
  --color-success-500: var(--gcdt-color-success-500);
  --color-success-600: var(--gcdt-color-success-600);
  --color-success-700: var(--gcdt-color-success-700);

  --color-warning: var(--gcdt-color-warning-400);
  --color-warning-100: var(--gcdt-color-warning-100);
  --color-warning-200: var(--gcdt-color-warning-200);
  --color-warning-300: var(--gcdt-color-warning-300);
  --color-warning-400: var(--gcdt-color-warning-400);
  --color-warning-500: var(--gcdt-color-warning-500);
  --color-warning-600: var(--gcdt-color-warning-600);
  --color-warning-700: var(--gcdt-color-warning-700);

  --color-error: var(--gcdt-color-error-400);
  --color-error-100: var(--gcdt-color-error-100);
  --color-error-200: var(--gcdt-color-error-200);
  --color-error-300: var(--gcdt-color-error-300);
  --color-error-400: var(--gcdt-color-error-400);
  --color-error-500: var(--gcdt-color-error-500);
  --color-error-600: var(--gcdt-color-error-600);
  --color-error-700: var(--gcdt-color-error-700);

  --color-focus: var(--gcdt-color-focus-400);
  --color-focus-100: var(--gcdt-color-focus-100);
  --color-focus-200: var(--gcdt-color-focus-200);
  --color-focus-300: var(--gcdt-color-focus-300);
  --color-focus-400: var(--gcdt-color-focus-400);
  --color-focus-500: var(--gcdt-color-focus-500);
  --color-focus-600: var(--gcdt-color-focus-600);
  --color-focus-700: var(--gcdt-color-focus-700);

  --color-gray: var(--gcdt-color-gray-400);
  --color-gray-100: var(--gcdt-color-gray-100);
  --color-gray-200: var(--gcdt-color-gray-200);
  --color-gray-300: var(--gcdt-color-gray-300);
  --color-gray-400: var(--gcdt-color-gray-400);
  --color-gray-500: var(--gcdt-color-gray-500);
  --color-gray-600: var(--gcdt-color-gray-600);
  --color-gray-700: var(--gcdt-color-gray-700);

  --color-black: var(--gcdt-color-black);
  --color-white: var(--gcdt-color-white);

  /** Gradient */
  --gradient-main-linear: var(--gcdt-gradient-main-linear);

  /** Shadows */
  --inset-shadow: var(--gcdt-inset-shadow);
  --shadow-sm: var(--gcdt-shadow-sm);
  --shadow-md: var(--gcdt-shadow-md);
  --shadow-lg: var(--gcdt-shadow-lg);
  --shadow-xl: var(--gcdt-shadow-xl);
  --shadow-2xl: var(--gcdt-shadow-2xl);

  --ribbon-shadow: var(--gcdt-ribbon-shadow);

  /** Fonts */
  --font-sans: "Open Sans", "sans-serif";

  --text-2xs: 0.6rem;
  --text-xs--line-height: calc(1 / 0.6);
  --text-xs: 0.75rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.75rem;
  --text-3xl--line-height: calc(2.25 / 1.75);
  --text-4xl: 2.1rem;
  --text-4xl--line-height: calc(2.5 / 2);
  --text-5xl: 2.5rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3rem;
  --text-6xl--line-height: 1;
}

@media (min-width: 100rem) {
  :root {
    font-size: 18px;
    line-height: 1.5;
  }
}

@layer utilities {
  [data-state="active"]:focus-visible > .on-active-focus-border-t {
    @apply border-t-focus;
  }
}

/**
* Tailwind override
*/
abbr:hover {
  cursor: help;
}

/*
* Cannot directly style `DropdownMenu` content wrapper
* Important required because `z-index: auto` set inline
*/
[data-radix-popper-content-wrapper] {
  z-index: 50 !important;
}
