@import "tailwindcss";
@source "../../../../../packages/**/*.{ts,tsx}";

/* Use .dark class for dark mode instead of auto based on media query */
@custom-variant dark (&:where(.dark, .dark *));


/**
* Base theme configuration
*/
:root {
  /* Colours */
  --gcdt-color-primary-100: oklch(0.93 0.055 190.62);
  --gcdt-color-primary-200: oklch(0.87 0.1001 189.96);
  --gcdt-color-primary-300: oklch(0.83 0.1299 188.15);
  --gcdt-color-primary-400: oklch(0.74 0.128478 187.0122);
  --gcdt-color-primary-500: oklch(0.64 0.111759 186.2965);
  --gcdt-color-primary-600: oklch(0.48 0.082996 186.9555);
  --gcdt-color-primary-700: oklch(0.3 0.052371 186.8285);

  --gcdt-color-secondary-100: oklch(0.91 0.0421 302.22);
  --gcdt-color-secondary-200: oklch(0.82 0.086 301.31);
  --gcdt-color-secondary-300: oklch(0.73 0.1318 301.66);
  --gcdt-color-secondary-400: oklch(0.65 0.177 301.69);
  --gcdt-color-secondary-500: oklch(0.53 0.1409 303.52);
  --gcdt-color-secondary-600: oklch(0.4 0.1016 304.56);
  --gcdt-color-secondary-700: oklch(0.26 0.0575 305.85);

  --gcdt-color-gray-100: oklch(0.91 0.0224 272.04);
  --gcdt-color-gray-200: oklch(0.83 0.0377 270.4);
  --gcdt-color-gray-300: oklch(0.75 0.046 271.17);
  --gcdt-color-gray-400: oklch(0.68 0.0459 270.65);
  --gcdt-color-gray-500: oklch(0.55 0.0435 270.51);
  --gcdt-color-gray-600: oklch(0.42 0.0362 270.42);
  --gcdt-color-gray-700: oklch(0.29 0.025 268.38);


  /* Shadows */
  --gcdt-inset-shadow: inset 0 0.125rem 0.5rem 0 rgba(0, 0, 0, .2);
  --gcdt-shadow-sm: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, .2);
  --gcdt-shadow-md: 0 0.25rem 0.5rem -0.05rem rgba(0, 0, 0, .2);
  --gcdt-shadow-lg: 0 0.4rem 0.7rem -0.1rem rgba(0, 0, 0, .2);
  --gcdt-shadow-xl: 0 0.55rem 1rem -0.2rem rgba(0, 0, 0, .2);
  --gcdt-shadow-2xl: 0 0.7rem 1.5rem -0.3rem rgba(0, 0, 0, .2);
  --gcdt-shadow-focus: 0 0 0 0.25rem #6492ff;
}

.dark {
  /** Dark mode colours */
  --gcdt-color-gray-100: oklch(0.29 0.025 268.38);
  --gcdt-color-gray-200: oklch(0.42 0.0362 270.42);
  --gcdt-color-gray-300: oklch(0.55 0.0435 270.51);
  --gcdt-color-gray-400: oklch(0.68 0.0459 270.65);
  --gcdt-color-gray-500: oklch(0.75 0.046 271.17);
  --gcdt-color-gray-600: oklch(0.83 0.0377 270.4);
  --gcdt-color-gray-700: oklch(0.91 0.0224 272.04);

  /** Dark mode shadows */
  --gcdt-inset-shadow: inset 0 0.125rem 0.5rem 0 rgba(0, 0, 0, .5);
  --gcdt-shadow-sm: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, .5);
  --gcdt-shadow-md: 0 0.25rem 0.5rem -0.05rem rgba(0, 0, 0, .5);
  --gcdt-shadow-lg: 0 0.4rem 0.7rem -0.1rem rgba(0, 0, 0, .5);
  --gcdt-shadow-xl: 0 0.55rem 1rem -0.2rem rgba(0, 0, 0, .5);
  --gcdt-shadow-2xl: 0 0.7rem 1.5rem -0.3rem rgba(0, 0, 0, .5);
}

.iap {
  --gcdt-color-primary-100: oklch(0.86 0.0592 353.96);
  --gcdt-color-primary-200: oklch(0.74 0.1263 357.2);
  --gcdt-color-primary-300: oklch(0.63 0.1865 1.43);
  --gcdt-color-primary-400: oklch(0.53 0.196 6.18);
  --gcdt-color-primary-500: oklch(0.45 0.1735 8.97);
  --gcdt-color-primary-600: oklch(0.34 0.128 7.38);
  --gcdt-color-primary-700: oklch(0.22 0.0772 4.67);
}


@theme inline {
  /** Colours */
  --color-*: initial;

  --color-primary: var(--gcdt-color-primary-400);
  --color-primary-100: var(--gcdt-color-primary-100);
  --color-primary-200: var(--gcdt-color-primary-200);
  --color-primary-300: var(--gcdt-color-primary-300);
  --color-primary-400: var(--gcdt-color-primary-400);
  --color-primary-500: var(--gcdt-color-primary-500);
  --color-primary-600: var(--gcdt-color-primary-600);
  --color-primary-700: var(--gcdt-color-primary-700);

  --color-secondary: var(--gcdt-color-secondary-400);
  --color-secondary-100: var(--gcdt-color-secondary-100);
  --color-secondary-200: var(--gcdt-color-secondary-200);
  --color-secondary-300: var(--gcdt-color-secondary-300);
  --color-secondary-400: var(--gcdt-color-secondary-400);
  --color-secondary-500: var(--gcdt-color-secondary-500);
  --color-secondary-600: var(--gcdt-color-secondary-600);
  --color-secondary-700: var(--gcdt-color-secondary-700);

  --color-gray: var(--gcdt-color-gray-400);
  --color-gray-100: var(--gcdt-color-gray-100);
  --color-gray-200: var(--gcdt-color-gray-200);
  --color-gray-300: var(--gcdt-color-gray-300);
  --color-gray-400: var(--gcdt-color-gray-400);
  --color-gray-500: var(--gcdt-color-gray-500);
  --color-gray-600: var(--gcdt-color-gray-600);
  --color-gray-700: var(--gcdt-color-gray-700);


  /** Shadows */
  --inset-shadow: var(--gcdt-inset-shadow);
  --shadow-sm: var(--gcdt-shadow-sm);
  --shadow-md: var(--gcdt-shadow-md);
  --shadow-lg: var(--gcdt-shadow-lg);
  --shadow-xl: var(--gcdt-shadow-xl);
  --shadow-2xl: var(--gcdt-shadow-2xl);
}
