:root {
  --toast-space: calc(var(--h2-base-whitespace) * 1rem);
  --toastify-toast-width: calc(100vw - calc(2 * var(--toast-space)));
  --toastify-toast-offset: 16px;
  --toastify-toast-padding: 0;
  --toastify-text-color-light: rgba(var(--h2-color-black), 1);
  --toastify-font-family: inherit;
}

.Toastify__toast {
  display: block;
}

.Toastify__toast-container--bottom-right {
  z-index: 999999; /* Display over everything else */
  left: auto;
  bottom: var(--toast-space);
  right: 0.25rem;
}

@media screen and (min-width: 48rem) {
  :root {
    --toastify-toast-width: 40vw;
  }
}

@media only screen and (max-width: 480px) {
  .Toastify__toast {
    --toastify-toast-width: calc(100vw - calc(2 * var(--toast-space)));
  }
}
