# Map all SPA-looking routes to our single page app index file
FallbackResource /frontend/talentsearch/dist/index.html


# Requests for files should return a real 404 and not fallback to the index.html page, though
<Files ~ "\.(js|css|gif|jpe?g|png|svg)$">
  FallbackResource disabled
  ErrorDocument 404 "File not found"
</Files>

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    # RewriteCond %{REQUEST_FILENAME} !-d
    # RewriteCond %{REQUEST_URI} (.+)/$
    # RewriteRule ^ %1 [L,R=301]
</IfModule>

# Set SSI to run on .shtml and .sjs files in this directory
Options +Includes
AddType text/html .shtml
AddType text/javascript .sjs
AddOutputFilter INCLUDES .shtml .sjs

# Make certain environment variables available for SSI
PassEnv OAUTH_POST_LOGOUT_REDIRECT
PassEnv OAUTH_LOGOUT_URI
PassEnv FEATURE_APPLICANTPROFILE
PassEnv FEATURE_DIRECTINTAKE
