// Overflow
// OVERFLOW
// e.g. data-h2-overflow="b(hidden)"
$h2-map-overflow: (
  'visible': visible,
  'hidden': hidden,
  'scroll': scroll,
  'auto': auto,
);
@mixin h2-utility-overflow($mediaKey, $stateMap) {
  @each $stateKey, $stateValue in $stateMap {
    @each $overflowKey, $overflowValue in $h2-map-overflow {
      [data-h2-overflow*='#{$mediaKey}#{$stateKey}(all, #{$overflowKey})']#{$stateValue} {
        overflow: $overflowValue;
      }
      [data-h2-overflow*='#{$mediaKey}#{$stateKey}(x, #{$overflowKey})']#{$stateValue} {
        overflow-x: $overflowValue;
      }
      [data-h2-overflow*='#{$mediaKey}#{$stateKey}(y, #{$overflowKey})']#{$stateValue} {
        overflow-y: $overflowValue;
      }
    }
  }
}
