[data-h2-padding*="MEDIAKEY(all, none)"] {
  padding: 0;
}

[data-h2-padding*="MEDIAKEY(all, xxs)"] {
  padding: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY(all, xs)"] {
  padding: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY(all, s)"] {
  padding: 1rem;
}

[data-h2-padding*="MEDIAKEY(all, m)"] {
  padding: 1.5rem;
}

[data-h2-padding*="MEDIAKEY(all, l)"] {
  padding: 2.25rem;
}

[data-h2-padding*="MEDIAKEY(all, xl)"] {
  padding: 3.375rem;
}

[data-h2-padding*="MEDIAKEY(all, xxl)"] {
  padding: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY(top, none)"] {
  padding-top: 0;
}

[data-h2-padding*="MEDIAKEY(top, xxs)"] {
  padding-top: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY(top, xs)"] {
  padding-top: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY(top, s)"] {
  padding-top: 1rem;
}

[data-h2-padding*="MEDIAKEY(top, m)"] {
  padding-top: 1.5rem;
}

[data-h2-padding*="MEDIAKEY(top, l)"] {
  padding-top: 2.25rem;
}

[data-h2-padding*="MEDIAKEY(top, xl)"] {
  padding-top: 3.375rem;
}

[data-h2-padding*="MEDIAKEY(top, xxl)"] {
  padding-top: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY(right, none)"] {
  padding-right: 0;
}

[data-h2-padding*="MEDIAKEY(right, xxs)"] {
  padding-right: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY(right, xs)"] {
  padding-right: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY(right, s)"] {
  padding-right: 1rem;
}

[data-h2-padding*="MEDIAKEY(right, m)"] {
  padding-right: 1.5rem;
}

[data-h2-padding*="MEDIAKEY(right, l)"] {
  padding-right: 2.25rem;
}

[data-h2-padding*="MEDIAKEY(right, xl)"] {
  padding-right: 3.375rem;
}

[data-h2-padding*="MEDIAKEY(right, xxl)"] {
  padding-right: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY(bottom, none)"] {
  padding-bottom: 0;
}

[data-h2-padding*="MEDIAKEY(bottom, xxs)"] {
  padding-bottom: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY(bottom, xs)"] {
  padding-bottom: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY(bottom, s)"] {
  padding-bottom: 1rem;
}

[data-h2-padding*="MEDIAKEY(bottom, m)"] {
  padding-bottom: 1.5rem;
}

[data-h2-padding*="MEDIAKEY(bottom, l)"] {
  padding-bottom: 2.25rem;
}

[data-h2-padding*="MEDIAKEY(bottom, xl)"] {
  padding-bottom: 3.375rem;
}

[data-h2-padding*="MEDIAKEY(bottom, xxl)"] {
  padding-bottom: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY(left, none)"] {
  padding-left: 0;
}

[data-h2-padding*="MEDIAKEY(left, xxs)"] {
  padding-left: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY(left, xs)"] {
  padding-left: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY(left, s)"] {
  padding-left: 1rem;
}

[data-h2-padding*="MEDIAKEY(left, m)"] {
  padding-left: 1.5rem;
}

[data-h2-padding*="MEDIAKEY(left, l)"] {
  padding-left: 2.25rem;
}

[data-h2-padding*="MEDIAKEY(left, xl)"] {
  padding-left: 3.375rem;
}

[data-h2-padding*="MEDIAKEY(left, xxl)"] {
  padding-left: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY(top-right, none)"] {
  padding-top: 0;
  padding-right: 0;
}

[data-h2-padding*="MEDIAKEY(top-right, xxs)"] {
  padding-top: 0.4444444444rem;
  padding-right: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY(top-right, xs)"] {
  padding-top: 0.6666666667rem;
  padding-right: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY(top-right, s)"] {
  padding-top: 1rem;
  padding-right: 1rem;
}

[data-h2-padding*="MEDIAKEY(top-right, m)"] {
  padding-top: 1.5rem;
  padding-right: 1.5rem;
}

[data-h2-padding*="MEDIAKEY(top-right, l)"] {
  padding-top: 2.25rem;
  padding-right: 2.25rem;
}

[data-h2-padding*="MEDIAKEY(top-right, xl)"] {
  padding-top: 3.375rem;
  padding-right: 3.375rem;
}

[data-h2-padding*="MEDIAKEY(top-right, xxl)"] {
  padding-top: 5.0625rem;
  padding-right: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY(top-bottom, none)"] {
  padding-top: 0;
  padding-bottom: 0;
}

[data-h2-padding*="MEDIAKEY(top-bottom, xxs)"] {
  padding-top: 0.4444444444rem;
  padding-bottom: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY(top-bottom, xs)"] {
  padding-top: 0.6666666667rem;
  padding-bottom: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY(top-bottom, s)"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

[data-h2-padding*="MEDIAKEY(top-bottom, m)"] {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

[data-h2-padding*="MEDIAKEY(top-bottom, l)"] {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

[data-h2-padding*="MEDIAKEY(top-bottom, xl)"] {
  padding-top: 3.375rem;
  padding-bottom: 3.375rem;
}

[data-h2-padding*="MEDIAKEY(top-bottom, xxl)"] {
  padding-top: 5.0625rem;
  padding-bottom: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY(top-left, none)"] {
  padding-top: 0;
  padding-left: 0;
}

[data-h2-padding*="MEDIAKEY(top-left, xxs)"] {
  padding-top: 0.4444444444rem;
  padding-left: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY(top-left, xs)"] {
  padding-top: 0.6666666667rem;
  padding-left: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY(top-left, s)"] {
  padding-top: 1rem;
  padding-left: 1rem;
}

[data-h2-padding*="MEDIAKEY(top-left, m)"] {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

[data-h2-padding*="MEDIAKEY(top-left, l)"] {
  padding-top: 2.25rem;
  padding-left: 2.25rem;
}

[data-h2-padding*="MEDIAKEY(top-left, xl)"] {
  padding-top: 3.375rem;
  padding-left: 3.375rem;
}

[data-h2-padding*="MEDIAKEY(top-left, xxl)"] {
  padding-top: 5.0625rem;
  padding-left: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY(bottom-right, none)"] {
  padding-bottom: 0;
  padding-right: 0;
}

[data-h2-padding*="MEDIAKEY(bottom-right, xxs)"] {
  padding-bottom: 0.4444444444rem;
  padding-right: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY(bottom-right, xs)"] {
  padding-bottom: 0.6666666667rem;
  padding-right: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY(bottom-right, s)"] {
  padding-bottom: 1rem;
  padding-right: 1rem;
}

[data-h2-padding*="MEDIAKEY(bottom-right, m)"] {
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
}

[data-h2-padding*="MEDIAKEY(bottom-right, l)"] {
  padding-bottom: 2.25rem;
  padding-right: 2.25rem;
}

[data-h2-padding*="MEDIAKEY(bottom-right, xl)"] {
  padding-bottom: 3.375rem;
  padding-right: 3.375rem;
}

[data-h2-padding*="MEDIAKEY(bottom-right, xxl)"] {
  padding-bottom: 5.0625rem;
  padding-right: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY(bottom-left, none)"] {
  padding-bottom: 0;
  padding-left: 0;
}

[data-h2-padding*="MEDIAKEY(bottom-left, xxs)"] {
  padding-bottom: 0.4444444444rem;
  padding-left: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY(bottom-left, xs)"] {
  padding-bottom: 0.6666666667rem;
  padding-left: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY(bottom-left, s)"] {
  padding-bottom: 1rem;
  padding-left: 1rem;
}

[data-h2-padding*="MEDIAKEY(bottom-left, m)"] {
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
}

[data-h2-padding*="MEDIAKEY(bottom-left, l)"] {
  padding-bottom: 2.25rem;
  padding-left: 2.25rem;
}

[data-h2-padding*="MEDIAKEY(bottom-left, xl)"] {
  padding-bottom: 3.375rem;
  padding-left: 3.375rem;
}

[data-h2-padding*="MEDIAKEY(bottom-left, xxl)"] {
  padding-bottom: 5.0625rem;
  padding-left: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY(right-left, none)"] {
  padding-right: 0;
  padding-left: 0;
}

[data-h2-padding*="MEDIAKEY(right-left, xxs)"] {
  padding-right: 0.4444444444rem;
  padding-left: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY(right-left, xs)"] {
  padding-right: 0.6666666667rem;
  padding-left: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY(right-left, s)"] {
  padding-right: 1rem;
  padding-left: 1rem;
}

[data-h2-padding*="MEDIAKEY(right-left, m)"] {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

[data-h2-padding*="MEDIAKEY(right-left, l)"] {
  padding-right: 2.25rem;
  padding-left: 2.25rem;
}

[data-h2-padding*="MEDIAKEY(right-left, xl)"] {
  padding-right: 3.375rem;
  padding-left: 3.375rem;
}

[data-h2-padding*="MEDIAKEY(right-left, xxl)"] {
  padding-right: 5.0625rem;
  padding-left: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:a(all, none)"]:active {
  padding: 0;
}

[data-h2-padding*="MEDIAKEY:a(all, xxs)"]:active {
  padding: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:a(all, xs)"]:active {
  padding: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:a(all, s)"]:active {
  padding: 1rem;
}

[data-h2-padding*="MEDIAKEY:a(all, m)"]:active {
  padding: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:a(all, l)"]:active {
  padding: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:a(all, xl)"]:active {
  padding: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:a(all, xxl)"]:active {
  padding: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:a(top, none)"]:active {
  padding-top: 0;
}

[data-h2-padding*="MEDIAKEY:a(top, xxs)"]:active {
  padding-top: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:a(top, xs)"]:active {
  padding-top: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:a(top, s)"]:active {
  padding-top: 1rem;
}

[data-h2-padding*="MEDIAKEY:a(top, m)"]:active {
  padding-top: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:a(top, l)"]:active {
  padding-top: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:a(top, xl)"]:active {
  padding-top: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:a(top, xxl)"]:active {
  padding-top: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:a(right, none)"]:active {
  padding-right: 0;
}

[data-h2-padding*="MEDIAKEY:a(right, xxs)"]:active {
  padding-right: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:a(right, xs)"]:active {
  padding-right: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:a(right, s)"]:active {
  padding-right: 1rem;
}

[data-h2-padding*="MEDIAKEY:a(right, m)"]:active {
  padding-right: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:a(right, l)"]:active {
  padding-right: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:a(right, xl)"]:active {
  padding-right: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:a(right, xxl)"]:active {
  padding-right: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:a(bottom, none)"]:active {
  padding-bottom: 0;
}

[data-h2-padding*="MEDIAKEY:a(bottom, xxs)"]:active {
  padding-bottom: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:a(bottom, xs)"]:active {
  padding-bottom: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:a(bottom, s)"]:active {
  padding-bottom: 1rem;
}

[data-h2-padding*="MEDIAKEY:a(bottom, m)"]:active {
  padding-bottom: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:a(bottom, l)"]:active {
  padding-bottom: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:a(bottom, xl)"]:active {
  padding-bottom: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:a(bottom, xxl)"]:active {
  padding-bottom: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:a(left, none)"]:active {
  padding-left: 0;
}

[data-h2-padding*="MEDIAKEY:a(left, xxs)"]:active {
  padding-left: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:a(left, xs)"]:active {
  padding-left: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:a(left, s)"]:active {
  padding-left: 1rem;
}

[data-h2-padding*="MEDIAKEY:a(left, m)"]:active {
  padding-left: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:a(left, l)"]:active {
  padding-left: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:a(left, xl)"]:active {
  padding-left: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:a(left, xxl)"]:active {
  padding-left: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:a(top-right, none)"]:active {
  padding-top: 0;
  padding-right: 0;
}

[data-h2-padding*="MEDIAKEY:a(top-right, xxs)"]:active {
  padding-top: 0.4444444444rem;
  padding-right: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:a(top-right, xs)"]:active {
  padding-top: 0.6666666667rem;
  padding-right: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:a(top-right, s)"]:active {
  padding-top: 1rem;
  padding-right: 1rem;
}

[data-h2-padding*="MEDIAKEY:a(top-right, m)"]:active {
  padding-top: 1.5rem;
  padding-right: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:a(top-right, l)"]:active {
  padding-top: 2.25rem;
  padding-right: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:a(top-right, xl)"]:active {
  padding-top: 3.375rem;
  padding-right: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:a(top-right, xxl)"]:active {
  padding-top: 5.0625rem;
  padding-right: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:a(top-bottom, none)"]:active {
  padding-top: 0;
  padding-bottom: 0;
}

[data-h2-padding*="MEDIAKEY:a(top-bottom, xxs)"]:active {
  padding-top: 0.4444444444rem;
  padding-bottom: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:a(top-bottom, xs)"]:active {
  padding-top: 0.6666666667rem;
  padding-bottom: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:a(top-bottom, s)"]:active {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

[data-h2-padding*="MEDIAKEY:a(top-bottom, m)"]:active {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:a(top-bottom, l)"]:active {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:a(top-bottom, xl)"]:active {
  padding-top: 3.375rem;
  padding-bottom: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:a(top-bottom, xxl)"]:active {
  padding-top: 5.0625rem;
  padding-bottom: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:a(top-left, none)"]:active {
  padding-top: 0;
  padding-left: 0;
}

[data-h2-padding*="MEDIAKEY:a(top-left, xxs)"]:active {
  padding-top: 0.4444444444rem;
  padding-left: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:a(top-left, xs)"]:active {
  padding-top: 0.6666666667rem;
  padding-left: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:a(top-left, s)"]:active {
  padding-top: 1rem;
  padding-left: 1rem;
}

[data-h2-padding*="MEDIAKEY:a(top-left, m)"]:active {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:a(top-left, l)"]:active {
  padding-top: 2.25rem;
  padding-left: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:a(top-left, xl)"]:active {
  padding-top: 3.375rem;
  padding-left: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:a(top-left, xxl)"]:active {
  padding-top: 5.0625rem;
  padding-left: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:a(bottom-right, none)"]:active {
  padding-bottom: 0;
  padding-right: 0;
}

[data-h2-padding*="MEDIAKEY:a(bottom-right, xxs)"]:active {
  padding-bottom: 0.4444444444rem;
  padding-right: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:a(bottom-right, xs)"]:active {
  padding-bottom: 0.6666666667rem;
  padding-right: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:a(bottom-right, s)"]:active {
  padding-bottom: 1rem;
  padding-right: 1rem;
}

[data-h2-padding*="MEDIAKEY:a(bottom-right, m)"]:active {
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:a(bottom-right, l)"]:active {
  padding-bottom: 2.25rem;
  padding-right: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:a(bottom-right, xl)"]:active {
  padding-bottom: 3.375rem;
  padding-right: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:a(bottom-right, xxl)"]:active {
  padding-bottom: 5.0625rem;
  padding-right: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:a(bottom-left, none)"]:active {
  padding-bottom: 0;
  padding-left: 0;
}

[data-h2-padding*="MEDIAKEY:a(bottom-left, xxs)"]:active {
  padding-bottom: 0.4444444444rem;
  padding-left: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:a(bottom-left, xs)"]:active {
  padding-bottom: 0.6666666667rem;
  padding-left: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:a(bottom-left, s)"]:active {
  padding-bottom: 1rem;
  padding-left: 1rem;
}

[data-h2-padding*="MEDIAKEY:a(bottom-left, m)"]:active {
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:a(bottom-left, l)"]:active {
  padding-bottom: 2.25rem;
  padding-left: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:a(bottom-left, xl)"]:active {
  padding-bottom: 3.375rem;
  padding-left: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:a(bottom-left, xxl)"]:active {
  padding-bottom: 5.0625rem;
  padding-left: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:a(right-left, none)"]:active {
  padding-right: 0;
  padding-left: 0;
}

[data-h2-padding*="MEDIAKEY:a(right-left, xxs)"]:active {
  padding-right: 0.4444444444rem;
  padding-left: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:a(right-left, xs)"]:active {
  padding-right: 0.6666666667rem;
  padding-left: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:a(right-left, s)"]:active {
  padding-right: 1rem;
  padding-left: 1rem;
}

[data-h2-padding*="MEDIAKEY:a(right-left, m)"]:active {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:a(right-left, l)"]:active {
  padding-right: 2.25rem;
  padding-left: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:a(right-left, xl)"]:active {
  padding-right: 3.375rem;
  padding-left: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:a(right-left, xxl)"]:active {
  padding-right: 5.0625rem;
  padding-left: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:h(all, none)"]:hover {
  padding: 0;
}

[data-h2-padding*="MEDIAKEY:h(all, xxs)"]:hover {
  padding: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:h(all, xs)"]:hover {
  padding: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:h(all, s)"]:hover {
  padding: 1rem;
}

[data-h2-padding*="MEDIAKEY:h(all, m)"]:hover {
  padding: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:h(all, l)"]:hover {
  padding: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:h(all, xl)"]:hover {
  padding: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:h(all, xxl)"]:hover {
  padding: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:h(top, none)"]:hover {
  padding-top: 0;
}

[data-h2-padding*="MEDIAKEY:h(top, xxs)"]:hover {
  padding-top: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:h(top, xs)"]:hover {
  padding-top: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:h(top, s)"]:hover {
  padding-top: 1rem;
}

[data-h2-padding*="MEDIAKEY:h(top, m)"]:hover {
  padding-top: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:h(top, l)"]:hover {
  padding-top: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:h(top, xl)"]:hover {
  padding-top: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:h(top, xxl)"]:hover {
  padding-top: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:h(right, none)"]:hover {
  padding-right: 0;
}

[data-h2-padding*="MEDIAKEY:h(right, xxs)"]:hover {
  padding-right: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:h(right, xs)"]:hover {
  padding-right: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:h(right, s)"]:hover {
  padding-right: 1rem;
}

[data-h2-padding*="MEDIAKEY:h(right, m)"]:hover {
  padding-right: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:h(right, l)"]:hover {
  padding-right: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:h(right, xl)"]:hover {
  padding-right: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:h(right, xxl)"]:hover {
  padding-right: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:h(bottom, none)"]:hover {
  padding-bottom: 0;
}

[data-h2-padding*="MEDIAKEY:h(bottom, xxs)"]:hover {
  padding-bottom: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:h(bottom, xs)"]:hover {
  padding-bottom: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:h(bottom, s)"]:hover {
  padding-bottom: 1rem;
}

[data-h2-padding*="MEDIAKEY:h(bottom, m)"]:hover {
  padding-bottom: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:h(bottom, l)"]:hover {
  padding-bottom: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:h(bottom, xl)"]:hover {
  padding-bottom: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:h(bottom, xxl)"]:hover {
  padding-bottom: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:h(left, none)"]:hover {
  padding-left: 0;
}

[data-h2-padding*="MEDIAKEY:h(left, xxs)"]:hover {
  padding-left: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:h(left, xs)"]:hover {
  padding-left: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:h(left, s)"]:hover {
  padding-left: 1rem;
}

[data-h2-padding*="MEDIAKEY:h(left, m)"]:hover {
  padding-left: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:h(left, l)"]:hover {
  padding-left: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:h(left, xl)"]:hover {
  padding-left: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:h(left, xxl)"]:hover {
  padding-left: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:h(top-right, none)"]:hover {
  padding-top: 0;
  padding-right: 0;
}

[data-h2-padding*="MEDIAKEY:h(top-right, xxs)"]:hover {
  padding-top: 0.4444444444rem;
  padding-right: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:h(top-right, xs)"]:hover {
  padding-top: 0.6666666667rem;
  padding-right: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:h(top-right, s)"]:hover {
  padding-top: 1rem;
  padding-right: 1rem;
}

[data-h2-padding*="MEDIAKEY:h(top-right, m)"]:hover {
  padding-top: 1.5rem;
  padding-right: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:h(top-right, l)"]:hover {
  padding-top: 2.25rem;
  padding-right: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:h(top-right, xl)"]:hover {
  padding-top: 3.375rem;
  padding-right: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:h(top-right, xxl)"]:hover {
  padding-top: 5.0625rem;
  padding-right: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:h(top-bottom, none)"]:hover {
  padding-top: 0;
  padding-bottom: 0;
}

[data-h2-padding*="MEDIAKEY:h(top-bottom, xxs)"]:hover {
  padding-top: 0.4444444444rem;
  padding-bottom: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:h(top-bottom, xs)"]:hover {
  padding-top: 0.6666666667rem;
  padding-bottom: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:h(top-bottom, s)"]:hover {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

[data-h2-padding*="MEDIAKEY:h(top-bottom, m)"]:hover {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:h(top-bottom, l)"]:hover {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:h(top-bottom, xl)"]:hover {
  padding-top: 3.375rem;
  padding-bottom: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:h(top-bottom, xxl)"]:hover {
  padding-top: 5.0625rem;
  padding-bottom: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:h(top-left, none)"]:hover {
  padding-top: 0;
  padding-left: 0;
}

[data-h2-padding*="MEDIAKEY:h(top-left, xxs)"]:hover {
  padding-top: 0.4444444444rem;
  padding-left: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:h(top-left, xs)"]:hover {
  padding-top: 0.6666666667rem;
  padding-left: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:h(top-left, s)"]:hover {
  padding-top: 1rem;
  padding-left: 1rem;
}

[data-h2-padding*="MEDIAKEY:h(top-left, m)"]:hover {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:h(top-left, l)"]:hover {
  padding-top: 2.25rem;
  padding-left: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:h(top-left, xl)"]:hover {
  padding-top: 3.375rem;
  padding-left: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:h(top-left, xxl)"]:hover {
  padding-top: 5.0625rem;
  padding-left: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:h(bottom-right, none)"]:hover {
  padding-bottom: 0;
  padding-right: 0;
}

[data-h2-padding*="MEDIAKEY:h(bottom-right, xxs)"]:hover {
  padding-bottom: 0.4444444444rem;
  padding-right: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:h(bottom-right, xs)"]:hover {
  padding-bottom: 0.6666666667rem;
  padding-right: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:h(bottom-right, s)"]:hover {
  padding-bottom: 1rem;
  padding-right: 1rem;
}

[data-h2-padding*="MEDIAKEY:h(bottom-right, m)"]:hover {
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:h(bottom-right, l)"]:hover {
  padding-bottom: 2.25rem;
  padding-right: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:h(bottom-right, xl)"]:hover {
  padding-bottom: 3.375rem;
  padding-right: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:h(bottom-right, xxl)"]:hover {
  padding-bottom: 5.0625rem;
  padding-right: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:h(bottom-left, none)"]:hover {
  padding-bottom: 0;
  padding-left: 0;
}

[data-h2-padding*="MEDIAKEY:h(bottom-left, xxs)"]:hover {
  padding-bottom: 0.4444444444rem;
  padding-left: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:h(bottom-left, xs)"]:hover {
  padding-bottom: 0.6666666667rem;
  padding-left: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:h(bottom-left, s)"]:hover {
  padding-bottom: 1rem;
  padding-left: 1rem;
}

[data-h2-padding*="MEDIAKEY:h(bottom-left, m)"]:hover {
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:h(bottom-left, l)"]:hover {
  padding-bottom: 2.25rem;
  padding-left: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:h(bottom-left, xl)"]:hover {
  padding-bottom: 3.375rem;
  padding-left: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:h(bottom-left, xxl)"]:hover {
  padding-bottom: 5.0625rem;
  padding-left: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:h(right-left, none)"]:hover {
  padding-right: 0;
  padding-left: 0;
}

[data-h2-padding*="MEDIAKEY:h(right-left, xxs)"]:hover {
  padding-right: 0.4444444444rem;
  padding-left: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:h(right-left, xs)"]:hover {
  padding-right: 0.6666666667rem;
  padding-left: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:h(right-left, s)"]:hover {
  padding-right: 1rem;
  padding-left: 1rem;
}

[data-h2-padding*="MEDIAKEY:h(right-left, m)"]:hover {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:h(right-left, l)"]:hover {
  padding-right: 2.25rem;
  padding-left: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:h(right-left, xl)"]:hover {
  padding-right: 3.375rem;
  padding-left: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:h(right-left, xxl)"]:hover {
  padding-right: 5.0625rem;
  padding-left: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:f(all, none)"]:focus {
  padding: 0;
}

[data-h2-padding*="MEDIAKEY:f(all, xxs)"]:focus {
  padding: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:f(all, xs)"]:focus {
  padding: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:f(all, s)"]:focus {
  padding: 1rem;
}

[data-h2-padding*="MEDIAKEY:f(all, m)"]:focus {
  padding: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:f(all, l)"]:focus {
  padding: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:f(all, xl)"]:focus {
  padding: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:f(all, xxl)"]:focus {
  padding: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:f(top, none)"]:focus {
  padding-top: 0;
}

[data-h2-padding*="MEDIAKEY:f(top, xxs)"]:focus {
  padding-top: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:f(top, xs)"]:focus {
  padding-top: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:f(top, s)"]:focus {
  padding-top: 1rem;
}

[data-h2-padding*="MEDIAKEY:f(top, m)"]:focus {
  padding-top: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:f(top, l)"]:focus {
  padding-top: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:f(top, xl)"]:focus {
  padding-top: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:f(top, xxl)"]:focus {
  padding-top: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:f(right, none)"]:focus {
  padding-right: 0;
}

[data-h2-padding*="MEDIAKEY:f(right, xxs)"]:focus {
  padding-right: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:f(right, xs)"]:focus {
  padding-right: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:f(right, s)"]:focus {
  padding-right: 1rem;
}

[data-h2-padding*="MEDIAKEY:f(right, m)"]:focus {
  padding-right: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:f(right, l)"]:focus {
  padding-right: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:f(right, xl)"]:focus {
  padding-right: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:f(right, xxl)"]:focus {
  padding-right: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:f(bottom, none)"]:focus {
  padding-bottom: 0;
}

[data-h2-padding*="MEDIAKEY:f(bottom, xxs)"]:focus {
  padding-bottom: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:f(bottom, xs)"]:focus {
  padding-bottom: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:f(bottom, s)"]:focus {
  padding-bottom: 1rem;
}

[data-h2-padding*="MEDIAKEY:f(bottom, m)"]:focus {
  padding-bottom: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:f(bottom, l)"]:focus {
  padding-bottom: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:f(bottom, xl)"]:focus {
  padding-bottom: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:f(bottom, xxl)"]:focus {
  padding-bottom: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:f(left, none)"]:focus {
  padding-left: 0;
}

[data-h2-padding*="MEDIAKEY:f(left, xxs)"]:focus {
  padding-left: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:f(left, xs)"]:focus {
  padding-left: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:f(left, s)"]:focus {
  padding-left: 1rem;
}

[data-h2-padding*="MEDIAKEY:f(left, m)"]:focus {
  padding-left: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:f(left, l)"]:focus {
  padding-left: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:f(left, xl)"]:focus {
  padding-left: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:f(left, xxl)"]:focus {
  padding-left: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:f(top-right, none)"]:focus {
  padding-top: 0;
  padding-right: 0;
}

[data-h2-padding*="MEDIAKEY:f(top-right, xxs)"]:focus {
  padding-top: 0.4444444444rem;
  padding-right: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:f(top-right, xs)"]:focus {
  padding-top: 0.6666666667rem;
  padding-right: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:f(top-right, s)"]:focus {
  padding-top: 1rem;
  padding-right: 1rem;
}

[data-h2-padding*="MEDIAKEY:f(top-right, m)"]:focus {
  padding-top: 1.5rem;
  padding-right: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:f(top-right, l)"]:focus {
  padding-top: 2.25rem;
  padding-right: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:f(top-right, xl)"]:focus {
  padding-top: 3.375rem;
  padding-right: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:f(top-right, xxl)"]:focus {
  padding-top: 5.0625rem;
  padding-right: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:f(top-bottom, none)"]:focus {
  padding-top: 0;
  padding-bottom: 0;
}

[data-h2-padding*="MEDIAKEY:f(top-bottom, xxs)"]:focus {
  padding-top: 0.4444444444rem;
  padding-bottom: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:f(top-bottom, xs)"]:focus {
  padding-top: 0.6666666667rem;
  padding-bottom: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:f(top-bottom, s)"]:focus {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

[data-h2-padding*="MEDIAKEY:f(top-bottom, m)"]:focus {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:f(top-bottom, l)"]:focus {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:f(top-bottom, xl)"]:focus {
  padding-top: 3.375rem;
  padding-bottom: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:f(top-bottom, xxl)"]:focus {
  padding-top: 5.0625rem;
  padding-bottom: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:f(top-left, none)"]:focus {
  padding-top: 0;
  padding-left: 0;
}

[data-h2-padding*="MEDIAKEY:f(top-left, xxs)"]:focus {
  padding-top: 0.4444444444rem;
  padding-left: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:f(top-left, xs)"]:focus {
  padding-top: 0.6666666667rem;
  padding-left: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:f(top-left, s)"]:focus {
  padding-top: 1rem;
  padding-left: 1rem;
}

[data-h2-padding*="MEDIAKEY:f(top-left, m)"]:focus {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:f(top-left, l)"]:focus {
  padding-top: 2.25rem;
  padding-left: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:f(top-left, xl)"]:focus {
  padding-top: 3.375rem;
  padding-left: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:f(top-left, xxl)"]:focus {
  padding-top: 5.0625rem;
  padding-left: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:f(bottom-right, none)"]:focus {
  padding-bottom: 0;
  padding-right: 0;
}

[data-h2-padding*="MEDIAKEY:f(bottom-right, xxs)"]:focus {
  padding-bottom: 0.4444444444rem;
  padding-right: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:f(bottom-right, xs)"]:focus {
  padding-bottom: 0.6666666667rem;
  padding-right: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:f(bottom-right, s)"]:focus {
  padding-bottom: 1rem;
  padding-right: 1rem;
}

[data-h2-padding*="MEDIAKEY:f(bottom-right, m)"]:focus {
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:f(bottom-right, l)"]:focus {
  padding-bottom: 2.25rem;
  padding-right: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:f(bottom-right, xl)"]:focus {
  padding-bottom: 3.375rem;
  padding-right: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:f(bottom-right, xxl)"]:focus {
  padding-bottom: 5.0625rem;
  padding-right: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:f(bottom-left, none)"]:focus {
  padding-bottom: 0;
  padding-left: 0;
}

[data-h2-padding*="MEDIAKEY:f(bottom-left, xxs)"]:focus {
  padding-bottom: 0.4444444444rem;
  padding-left: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:f(bottom-left, xs)"]:focus {
  padding-bottom: 0.6666666667rem;
  padding-left: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:f(bottom-left, s)"]:focus {
  padding-bottom: 1rem;
  padding-left: 1rem;
}

[data-h2-padding*="MEDIAKEY:f(bottom-left, m)"]:focus {
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:f(bottom-left, l)"]:focus {
  padding-bottom: 2.25rem;
  padding-left: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:f(bottom-left, xl)"]:focus {
  padding-bottom: 3.375rem;
  padding-left: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:f(bottom-left, xxl)"]:focus {
  padding-bottom: 5.0625rem;
  padding-left: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:f(right-left, none)"]:focus {
  padding-right: 0;
  padding-left: 0;
}

[data-h2-padding*="MEDIAKEY:f(right-left, xxs)"]:focus {
  padding-right: 0.4444444444rem;
  padding-left: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:f(right-left, xs)"]:focus {
  padding-right: 0.6666666667rem;
  padding-left: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:f(right-left, s)"]:focus {
  padding-right: 1rem;
  padding-left: 1rem;
}

[data-h2-padding*="MEDIAKEY:f(right-left, m)"]:focus {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:f(right-left, l)"]:focus {
  padding-right: 2.25rem;
  padding-left: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:f(right-left, xl)"]:focus {
  padding-right: 3.375rem;
  padding-left: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:f(right-left, xxl)"]:focus {
  padding-right: 5.0625rem;
  padding-left: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:d(all, none)"]:disabled {
  padding: 0;
}

[data-h2-padding*="MEDIAKEY:d(all, xxs)"]:disabled {
  padding: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:d(all, xs)"]:disabled {
  padding: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:d(all, s)"]:disabled {
  padding: 1rem;
}

[data-h2-padding*="MEDIAKEY:d(all, m)"]:disabled {
  padding: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:d(all, l)"]:disabled {
  padding: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:d(all, xl)"]:disabled {
  padding: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:d(all, xxl)"]:disabled {
  padding: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:d(top, none)"]:disabled {
  padding-top: 0;
}

[data-h2-padding*="MEDIAKEY:d(top, xxs)"]:disabled {
  padding-top: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:d(top, xs)"]:disabled {
  padding-top: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:d(top, s)"]:disabled {
  padding-top: 1rem;
}

[data-h2-padding*="MEDIAKEY:d(top, m)"]:disabled {
  padding-top: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:d(top, l)"]:disabled {
  padding-top: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:d(top, xl)"]:disabled {
  padding-top: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:d(top, xxl)"]:disabled {
  padding-top: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:d(right, none)"]:disabled {
  padding-right: 0;
}

[data-h2-padding*="MEDIAKEY:d(right, xxs)"]:disabled {
  padding-right: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:d(right, xs)"]:disabled {
  padding-right: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:d(right, s)"]:disabled {
  padding-right: 1rem;
}

[data-h2-padding*="MEDIAKEY:d(right, m)"]:disabled {
  padding-right: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:d(right, l)"]:disabled {
  padding-right: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:d(right, xl)"]:disabled {
  padding-right: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:d(right, xxl)"]:disabled {
  padding-right: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:d(bottom, none)"]:disabled {
  padding-bottom: 0;
}

[data-h2-padding*="MEDIAKEY:d(bottom, xxs)"]:disabled {
  padding-bottom: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:d(bottom, xs)"]:disabled {
  padding-bottom: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:d(bottom, s)"]:disabled {
  padding-bottom: 1rem;
}

[data-h2-padding*="MEDIAKEY:d(bottom, m)"]:disabled {
  padding-bottom: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:d(bottom, l)"]:disabled {
  padding-bottom: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:d(bottom, xl)"]:disabled {
  padding-bottom: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:d(bottom, xxl)"]:disabled {
  padding-bottom: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:d(left, none)"]:disabled {
  padding-left: 0;
}

[data-h2-padding*="MEDIAKEY:d(left, xxs)"]:disabled {
  padding-left: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:d(left, xs)"]:disabled {
  padding-left: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:d(left, s)"]:disabled {
  padding-left: 1rem;
}

[data-h2-padding*="MEDIAKEY:d(left, m)"]:disabled {
  padding-left: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:d(left, l)"]:disabled {
  padding-left: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:d(left, xl)"]:disabled {
  padding-left: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:d(left, xxl)"]:disabled {
  padding-left: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:d(top-right, none)"]:disabled {
  padding-top: 0;
  padding-right: 0;
}

[data-h2-padding*="MEDIAKEY:d(top-right, xxs)"]:disabled {
  padding-top: 0.4444444444rem;
  padding-right: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:d(top-right, xs)"]:disabled {
  padding-top: 0.6666666667rem;
  padding-right: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:d(top-right, s)"]:disabled {
  padding-top: 1rem;
  padding-right: 1rem;
}

[data-h2-padding*="MEDIAKEY:d(top-right, m)"]:disabled {
  padding-top: 1.5rem;
  padding-right: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:d(top-right, l)"]:disabled {
  padding-top: 2.25rem;
  padding-right: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:d(top-right, xl)"]:disabled {
  padding-top: 3.375rem;
  padding-right: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:d(top-right, xxl)"]:disabled {
  padding-top: 5.0625rem;
  padding-right: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:d(top-bottom, none)"]:disabled {
  padding-top: 0;
  padding-bottom: 0;
}

[data-h2-padding*="MEDIAKEY:d(top-bottom, xxs)"]:disabled {
  padding-top: 0.4444444444rem;
  padding-bottom: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:d(top-bottom, xs)"]:disabled {
  padding-top: 0.6666666667rem;
  padding-bottom: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:d(top-bottom, s)"]:disabled {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

[data-h2-padding*="MEDIAKEY:d(top-bottom, m)"]:disabled {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:d(top-bottom, l)"]:disabled {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:d(top-bottom, xl)"]:disabled {
  padding-top: 3.375rem;
  padding-bottom: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:d(top-bottom, xxl)"]:disabled {
  padding-top: 5.0625rem;
  padding-bottom: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:d(top-left, none)"]:disabled {
  padding-top: 0;
  padding-left: 0;
}

[data-h2-padding*="MEDIAKEY:d(top-left, xxs)"]:disabled {
  padding-top: 0.4444444444rem;
  padding-left: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:d(top-left, xs)"]:disabled {
  padding-top: 0.6666666667rem;
  padding-left: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:d(top-left, s)"]:disabled {
  padding-top: 1rem;
  padding-left: 1rem;
}

[data-h2-padding*="MEDIAKEY:d(top-left, m)"]:disabled {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:d(top-left, l)"]:disabled {
  padding-top: 2.25rem;
  padding-left: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:d(top-left, xl)"]:disabled {
  padding-top: 3.375rem;
  padding-left: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:d(top-left, xxl)"]:disabled {
  padding-top: 5.0625rem;
  padding-left: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:d(bottom-right, none)"]:disabled {
  padding-bottom: 0;
  padding-right: 0;
}

[data-h2-padding*="MEDIAKEY:d(bottom-right, xxs)"]:disabled {
  padding-bottom: 0.4444444444rem;
  padding-right: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:d(bottom-right, xs)"]:disabled {
  padding-bottom: 0.6666666667rem;
  padding-right: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:d(bottom-right, s)"]:disabled {
  padding-bottom: 1rem;
  padding-right: 1rem;
}

[data-h2-padding*="MEDIAKEY:d(bottom-right, m)"]:disabled {
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:d(bottom-right, l)"]:disabled {
  padding-bottom: 2.25rem;
  padding-right: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:d(bottom-right, xl)"]:disabled {
  padding-bottom: 3.375rem;
  padding-right: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:d(bottom-right, xxl)"]:disabled {
  padding-bottom: 5.0625rem;
  padding-right: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:d(bottom-left, none)"]:disabled {
  padding-bottom: 0;
  padding-left: 0;
}

[data-h2-padding*="MEDIAKEY:d(bottom-left, xxs)"]:disabled {
  padding-bottom: 0.4444444444rem;
  padding-left: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:d(bottom-left, xs)"]:disabled {
  padding-bottom: 0.6666666667rem;
  padding-left: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:d(bottom-left, s)"]:disabled {
  padding-bottom: 1rem;
  padding-left: 1rem;
}

[data-h2-padding*="MEDIAKEY:d(bottom-left, m)"]:disabled {
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:d(bottom-left, l)"]:disabled {
  padding-bottom: 2.25rem;
  padding-left: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:d(bottom-left, xl)"]:disabled {
  padding-bottom: 3.375rem;
  padding-left: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:d(bottom-left, xxl)"]:disabled {
  padding-bottom: 5.0625rem;
  padding-left: 5.0625rem;
}

[data-h2-padding*="MEDIAKEY:d(right-left, none)"]:disabled {
  padding-right: 0;
  padding-left: 0;
}

[data-h2-padding*="MEDIAKEY:d(right-left, xxs)"]:disabled {
  padding-right: 0.4444444444rem;
  padding-left: 0.4444444444rem;
}

[data-h2-padding*="MEDIAKEY:d(right-left, xs)"]:disabled {
  padding-right: 0.6666666667rem;
  padding-left: 0.6666666667rem;
}

[data-h2-padding*="MEDIAKEY:d(right-left, s)"]:disabled {
  padding-right: 1rem;
  padding-left: 1rem;
}

[data-h2-padding*="MEDIAKEY:d(right-left, m)"]:disabled {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

[data-h2-padding*="MEDIAKEY:d(right-left, l)"]:disabled {
  padding-right: 2.25rem;
  padding-left: 2.25rem;
}

[data-h2-padding*="MEDIAKEY:d(right-left, xl)"]:disabled {
  padding-right: 3.375rem;
  padding-left: 3.375rem;
}

[data-h2-padding*="MEDIAKEY:d(right-left, xxl)"]:disabled {
  padding-right: 5.0625rem;
  padding-left: 5.0625rem;
}