.ToggleGroup__Item {
  background: none;
}

.ToggleGroup__Item > svg,
.ToggleGroup__Item > svg > * {
  color: inherit !important;
}

.ToggleGroup > [data-state="on"].ToggleGroup__Item {
  background-color: var(--h2-color-white);
  color: var(--h2-color-dt-black);
}

[data-h2="dark"] .ToggleGroup > [data-state="on"].ToggleGroup__Item {
  background-color: var(--h2-color-black);
  color: var(--h2-color-dt-white);
}

.ToggleGroup.ToggleGroup--white > [data-state="on"].ToggleGroup__Item {
  background-color: var(--h2-color-dt-black);
  color: var(--h2-color-white);
}

.ToggleGroup > [data-state="off"].ToggleGroup__Item {
  text-decoration: underline;
}
