button:not(disabled) {
  cursor: pointer;
}

.toast {
  padding: .7rem 1rem .7rem 1rem;
  display: flex;
  justify-content: stretch;
  align-items: center;
  border-radius: .2rem;
}

.toast:last-child {
  margin-top: 1rem;
}

.toast-success {
  background-color: #F9C160;
  color: #072131;
  font-size: large;
  font-weight: 600;
}

.toast-error {
  background-color: #FF0000;
  color: #FFFFFF;
  font-size: large;
  font-weight: 600;
}

.lds-dual-ring {
  display: inline-block;
  /* width: 2rem; */
  height: 1.5rem;
  /* padding: 0 1rem 0 0rem; */
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 0px;
  border-radius: 50%;
  border: 6px solid #674c90;
  border-color: #674c90 transparent #674c90 transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
