.recruitment-flag {
  position: relative;
}

.recruitment-flag::before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 3rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-left: 3rem solid var(--h2-color-tm-blue);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, 35%);
}
.recruitment-flag::after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 3rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-right: 3rem solid var(--h2-color-tm-blue);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(0, 35%);
}
