.profile-bg-image {
  background-position: 100% 110%;
  background-size: auto 50vh;
  background-repeat: no-repeat;
}

@media screen and (min-width: 48em) {
  .profile-bg-image {
    background-position: 100% 110%;
    background-size: auto 60vh;
  }
}

@media screen and (min-width: 67.5em) {
  .profile-bg-image {
    background-position: calc(50% + 20rem) 50%;
    background-size: auto 110%;
  }
}
