name: $(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - documentation
      - maintenance
pr: none
resources:
  repositories:
    - repository: self
      type: git
      ref: refs/heads/main
variables:
  phpVersion: "8.2"

jobs:
  - job: build_artifact
    displayName: Build artifact
    pool:
      vmImage: ubuntu-22.04
    steps:
      - checkout: self
        clean: true
        fetchDepth: 1

      - script: infrastructure/bin/set_php_versions.sh ${{ variables.phpVersion }}
        displayName: "PHP version"

        # -r option to specify the root directory
      - script: infrastructure/bin/deploy.sh -r $(System.DefaultWorkingDirectory)
        displayName: Dependencies
        env:
          API_URI: /graphql
          API_PROTECTED_URI: /admin/graphql
          ADMIN_APP_DIR: /admin

      - task: CopyFiles@2
        displayName: "Copy files to staging directory"
        inputs:
          SourceFolder: "$(System.DefaultWorkingDirectory)"
          Contents: |
            api/**
            apps/web/dist/**
            infrastructure/**
            tc-report/**
          TargetFolder: "$(Build.ArtifactStagingDirectory)/Stage"

      - task: ArchiveFiles@2
        displayName: "Archive Files"
        inputs:
          rootFolderOrFile: "$(Build.ArtifactStagingDirectory)/Stage"
          includeRootFolder: false
          archiveFile: "$(Build.ArtifactStagingDirectory)/Release/Application_$(Build.BuildId).zip"

      - task: PublishBuildArtifacts@1
        displayName: "Publish Artifact: gcDigitalTalent"
        inputs:
          PathtoPublish: "$(Build.ArtifactStagingDirectory)/Release"
          ArtifactName: gcDigitalTalent
