# This does not actually work yet. Just copy-pasted from Azure UI export for now.

name: $(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
trigger:
  branches:
    include:
    - main
resources:
  repositories:
  - repository: self
    type: git
    ref: refs/heads/main

# Your build pipeline references an undefined variable named ‘phpVersion’.
# Create or edit the build pipeline for this YAML file, define the variable on the Variables tab.
# See https://go.microsoft.com/fwlink/?linkid=865972

jobs:
- job: Job_1
  displayName: Build artifact
  pool:
    vmImage: ubuntu-18.04
  steps:
  - script: ./bin/set_php_versions.sh $(phpVersion)
    workingDirectory: $(System.DefaultWorkingDirectory)/$(Release.PrimaryArtifactSourceAlias)/infrastucture
    displayName: 'PHP version'

  - script: cp infrastructure/conf/deploy.htaccess .htaccess
    workingDirectory: $(System.DefaultWorkingDirectory)/$(Release.PrimaryArtifactSourceAlias)
    displayName: 'Write-out htaccess'

  - script: ./bin/deploy.sh $(System.DefaultWorkingDirectory)/$(Release.PrimaryArtifactSourceAlias)
    workingDirectory: $(System.DefaultWorkingDirectory)/$(Release.PrimaryArtifactSourceAlias)/infrastucture
    displayName: Dependencies
    env:
      API_URI: /graphql
      ADMIN_APP_DIR: /admin
      TALENTSEARCH_APP_DIR: /talent
      # We don't need Cypress in this environment, and so this avoid permission errors of installing it.
      # See: https://docs.cypress.io/guides/getting-started/installing-cypress#Skipping-installation
      CYPRESS_INSTALL_BINARY: 0

  - task: ArchiveFiles@2
    displayName: 'Archive $(System.DefaultWorkingDirectory)'
    inputs:
      rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
      includeRootFolder: false
      archiveFile: '$(Build.ArtifactStagingDirectory)/Application_$(Build.BuildId).zip'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: gcDigitalTalent'
    inputs:
      ArtifactName: gcDigitalTalent
