/* nothing here yet */

.hero__content {
  height: 100%;
  z-index: 1;
}

.hero__content,
.hero__content > div,
.hero__content > div > div {
  height: 100%;
}

.hero__image {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.hero__logo {
  width: 60%;
}

.program__image {
  z-index: 2;
}

.about-program__feathers {
  bottom: -3rem;
  height: auto;
  max-width: none;
  right: -4rem;
  width: 130%;
  z-index: 3;
}

.circle {
  border-radius: 100%;
  height: 10rem;
  opacity: 0.1;
  width: 10rem;
  z-index: 1;
}

.circle--lg {
  height: 20rem;
  width: 20rem;
}

.circle--top-right {
  top: -1.5rem;
  right: 1rem;
}

.circle--bottom-left {
  bottom: -3rem;
  left: -6rem;
}

.learn-program {
  margin-bottom: 8rem;
}

.learn-program__gloves {
  bottom: -10rem;
  left: 50%;
  z-index: 2;
}

.learn-program__circles {
  top: -6rem;
  left: 40%;
}

.who-program__ulu {
  height: auto;
  top: -1rem;
  left: -1rem;
  width: 175%;
  max-width: none;
}

.who-program__triangle {
  left: 0;
  max-width: none;
  top: -2rem;
  z-index: 1;
}

.quote-wrapper {
  background-position: center;
  background-size: cover;
}

.quote--open,
.quote--close {
  height: 3rem;
  width: auto;
}

.quote--open {
  left: 0;
  top: 0;
  transform: translate(-100%);
}

.quote--close {
  right: 0;
  bottom: 0;
  transform: translate(100%);
}

.apply-program__box__image {
  background-position: center;
  background-size: cover;
}

.portal-panel__inner {
  z-index: 2;
}

.portal-panel__bg-item {
  z-index: 1;
}

.portal-panel__circles {
  left: -10%;
  top: 10%;
}

.portal-panel__thick-circle {
  right: -10%;
  top: 40%;
  width: 35%;
}

.talent-portal-card {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  z-index: 2;
}

.talent-portal__triangle {
  left: -2rem;
  max-width: none;
  bottom: -2rem;
  transform: scaleY(-1);
  z-index: 1;
}

@media (min-width: 48em) {
  /* .portal-panel__strategy__item {
    width: 50%;
  } */
  .program__image-wrapper {
    margin-left: 3rem;
    max-width: 40%;
  }
  .about-program__feathers {
    bottom: -2rem;
    right: -6rem;
    width: 32rem;
  }
}

@media (min-width: 64em) {
  .hero {
    z-index: 1;
  }

  .hero__apply {
    margin-bottom: 6rem;
  }

  .about-program {
    box-shadow: 0px -26px 44px rgba(0, 0, 0, 0.05);
    margin-top: -4rem;
    z-index: 2;
  }

  .about-program__title {
    margin-top: 0;
  }

  .program__image-wrapper {
    flex-shrink: 0;
    max-width: 45%;
  }

  .about-program__feathers {
    bottom: -10rem;
    right: 0;
    width: 44rem;
  }

  .apply-program__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* .apply-program__box__text {
    column-span: 2;
  } */

  .portal-panel__banner-wrapper {
    transform: translateY(-60%);
  }

  .portal-panel__steps,
  .portal-panel__strategy {
    margin: 0 -1rem;
  }

  .portal-panel__step {
    width: calc(100% / 3);
  }

  .portal-panel__strategy__item,
  .portal-panel__step {
    padding: 0 1rem;
  }

  .talent-portal-card__image {
    bottom: 0;
    right: 0;
    margin-top: -4rem;
    position: relative;
    width: auto;
    flex-shrink: 0;
    vertical-align: top;
  }
}
