ul.tree,
ul.tree {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.tree {
  margin-left: 10px;
}
ul.tree li.tree {
  display: flex;
  align-items: baseline;
  margin-left: 3%;
  border-left: 1px solid #b9b9b9;
}
ul.tree li.tree:last-child {
  border-left: none;
}
ul.tree li.tree:before {
  position: relative;
  height: 3rem;
  width: 3%;
  color: white;
  border-bottom: 1px solid #b9b9b9;
  content: "";
  display: inline-block;
}
ul.tree li.tree.error::before,
ul.tree li.tree.no-branch::before {
  border-bottom: none;
}
ul.tree li.tree:last-child:before {
  border-left: 1px solid #b9b9b9;
}
