.Alert .Alert__Icon {
  flex-shrink: 0;
}

@media screen and (min-width: 48em) {
  .Alert .Alert__Icon:after {
    border-style: solid;
    border-width: 20px 0 20px 24px;
    bottom: auto;
    content: "";
    height: 0;
    left: 100%;
    position: absolute;
    top: calc((1.5*var(--h2-base-whitespace))*1rem);
    transform: translate(0);
    width: 0;
  }

  .Alert.Alert--success .Alert__Icon:after {
    border-color: transparent transparent transparent rgba(var(--h2-color-success-lightest), 1);
  }

  .Alert.Alert--warning .Alert__Icon:after {
    border-color: transparent transparent transparent rgba(var(--h2-color-warning-lightest), 1);
  }

  .Alert.Alert--info .Alert__Icon:after {
    border-color: transparent transparent transparent rgba(var(--h2-color-secondary-lightest), 1);
  }

  .Alert.Alert--error .Alert__Icon:after {
    border-color: transparent transparent transparent rgba(var(--h2-color-error-lightest), 1);
  }
}


