includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  treatPhpDocTypesAsCertain: false
  level: 5
  paths:
    - app

  ignoreErrors:
    -
      message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:addProcessOperators\\(\\)\\.$#"
      count: 1
      path: app/Console/Commands/SyncPoolOperatorWithProcessOperator.php

    -
      message: "#^Match expression does not handle remaining value\\: string$#"
      count: 1
      path: app/Enums/PriorityWeight.php

    -
      message: "#^Method App\\\\GraphQL\\\\Directives\\\\ResolveWithDirective\\:\\:toPlainValue\\(\\) with return type void returns mixed but should not return anything\\.$#"
      count: 1
      path: app/GraphQL/Directives/ResolveWithDirective.php

    -
      message: "#^Result of method App\\\\GraphQL\\\\Directives\\\\ResolveWithDirective\\:\\:toPlainValue\\(\\) \\(void\\) is used\\.$#"
      count: 1
      path: app/GraphQL/Directives/ResolveWithDirective.php

    -
      message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:getStatusAttribute\\(\\)\\.$#"
      count: 1
      path: app/GraphQL/Mutations/ArchivePool.php

    -
      message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:getStatusAttribute\\(\\)\\.$#"
      count: 1
      path: app/GraphQL/Mutations/UnarchivePool.php

    -
      message: "#^Called 'Model\\:\\:make\\(\\)' which performs unnecessary work, use 'new Model\\(\\)'\\.$#"
      count: 1
      path: app/Models/Experience.php

    -
      message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo\\<App\\\\Models\\\\Pool, \\$this\\(App\\\\Models\\\\PoolCandidate\\)\\>\\:\\:withTrashed\\(\\)\\.$#"
      count: 1
      path: app/Models/PoolCandidate.php

    -
      message: "#^Dead catch \\- UnhandledMatchError is never thrown in the try block\\.$#"
      count: 1
      path: app/Models/PoolCandidate.php

    -
      message: "#^Variable \\$locale might not be defined\\.$#"
      count: 1
      path: app/Models/PoolCandidate.php

    -
      message: "#^Variable \\$order might not be defined\\.$#"
      count: 1
      path: app/Models/PoolCandidate.php

    -
      message: "#^Argument of an invalid type Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany\\<App\\\\Models\\\\PoolCandidate, App\\\\Models\\\\User\\> supplied for foreach, only iterables are supported\\.$#"
      count: 1
      path: app/Models/User.php

    -
      message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:authorizedToView\\(\\)\\.$#"
      count: 1
      path: app/Models/User.php

    -
      message: "#^Method App\\\\Models\\\\User\\:\\:markEmailAsVerified\\(\\) should return bool but return statement is missing\\.$#"
      count: 1
      path: app/Models/User.php

    -
      message: "#^Method App\\\\Notify\\\\Client\\:\\:get\\(\\) is unused\\.$#"
      count: 1
      path: app/Notify/Client.php

    -
      message: "#^Left side of && is always true\\.$#"
      count: 1
      path: app/Rules/HasLanguageRequirements.php

    -
      message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:poolSkills\\(\\)\\.$#"
      count: 1
      path: app/ValueObjects/ProfileSnapshot.php
