name: Chromatic

on:
  push:
    branches: ["main"]
    paths:
      - .github/workflows/chromatic.yml
      - packages/**
      - apps/**

  merge_group:
    branches: [main]
  pull_request:
    paths:
      - .github/workflows/chromatic.yml
      - packages/**
      - apps/**

jobs:
  chromatic:
    name: Chromatic
    # On pull request open, merge, or rerun
    if: (github.event.action == 'opened' || github.ref_name == 'main' || github.run_attempt > 1) && github.actor != 'dependabot[bot]'
    runs-on: ubuntu-24.04
    env:
      PNPM_VERSION: "10.27.0"
    steps:
      - uses: actions/checkout@v6
        with:
          # Chromatic requires full git history.
          fetch-depth: 0

      - name: "Copy .env"
        working-directory: "./apps/web"
        run: |
          cp .env.example .env

      - uses: pnpm/action-setup@v4
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@v6
        with:
          node-version-file: "./.nvmrc"
          cache: pnpm

      - name: "Install dependencies: workspace"
        working-directory: ./
        run: |
          pnpm install

      - name: "Setup: all workspaces"
        working-directory: ./
        run: |
          pnpm codegen
          pnpm intl-compile

      - name: "Build: all workspaces"
        working-directory: ./
        run: |
          pnpm build

      - name: "Publish Storybook: all"
        uses: chromaui/action@v13.3.5
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          # Auto-accept UI Tests on Chromatic platform.
          # We use this setting because we're not relying on UI Tests at the
          # moment, and want the GitHub status check in PRs (for "UI Tests") to
          # display immediately as "passing".
          autoAcceptChanges: true
          onlyChanged: true
