# Changes to workflow name require changes to badge URL in README.md
name: e2e-tests

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"

  pull_request:
    paths-ignore:
      - "**.md"

# Concurrency is used to cancel other currently-running jobs, to preserve
# compute resources and cumulative build hours. (ie. If you push twice in a
# row, this will cancel the previous run.)
# See: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#example-only-cancel-in-progress-jobs-or-runs-for-the-current-workflow
concurrency:
  # This scopes the group to:
  # - the same workflow,
  # - the same event type, and
  # - the same branch name
  # e.g., my-workflow-pull_request-feature/123-my-thing
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  run-cypress:
    # Platform recommended in cypress-io/github-action docs.
    runs-on: ubuntu-22.04
    env:
      # Use native docker command within docker-compose
      COMPOSE_DOCKER_CLI_BUILD: 1
      # Use buildkit to speed up docker command
      DOCKER_BUILDKIT: 1
      NPM_VERSION: "8.11.0"
    steps:
      # See: https://github.com/satackey/action-docker-layer-caching/issues/139#issuecomment-1007316528
      - name: reclaim space on runner
        run: rm -rf /usr/local/android /usr/share/dotnet /usr/local/share/boost /opt/ghc

      - name: Checkout
        uses: actions/checkout@v3

      # We no longer user docker layer caching as it made runs take longer.
      # See: https://github.com/satackey/action-docker-layer-caching/issues/305

      - name: Serve app via docker-compose
        # Need to include --build as we're caching layers.
        run: docker-compose up --detach --build

      - name: "Run: setup.sh"
        run: docker-compose run --rm maintenance bash setup.sh

      - uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"
          cache: npm

      - name: Upgrade to latest npm
        run: npm install --location=global npm@${{ env.NPM_VERSION }}

      - name: "Run Cypress tests: all"
        uses: cypress-io/github-action@v5.8.0
        with:
          spec: "**/*.cy.js"
          browser: chrome
          config-file: cypress.config.ts
          project: ./apps/e2e
          # See: https://github.com/cypress-io/github-action/issues/489#issuecomment-1021379037
          command-prefix: "--"
          config: video=false

      # NOTE: screenshots will be generated only if E2E test failed
      # thus we store screenshots only on failures
      - name: Save screenshot artifacts
        uses: actions/upload-artifact@v3.1.2
        if: failure()
        with:
          name: cypress-screenshots
          path: apps/e2e/cypress/screenshots

      - name: Check status of containers
        if: failure()
        run: docker-compose ps

      - name: "Check logs: web server container"
        if: failure()
        run: docker-compose logs webserver
