name: Jest Tests

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/*jest*.yml
      - apps/**
      - packages/**
  pull_request:
    paths:
      - .github/workflows/*jest*.yml
      - apps/**
      - packages/**

jobs:
  build:
    name: Unit tests
    runs-on: ubuntu-22.04
    env:
      NPM_VERSION: "8.3.0"

    steps:
      - name: Get number of CPU cores
        uses: SimenB/github-actions-cpu-cores@v1
        id: cpu-cores

      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: "./.nvmrc"
          cache: "npm"
          cache-dependency-path: "./package-lock.json"

      - name: Upgrade npm
        run: npm install --location=global npm@${{ env.NPM_VERSION }}

      - name: "Install dependencies: workspace"
        working-directory: ./
        run: npm install

      - name: "Setup: all workspaces"
        working-directory: ./
        run: |
          npm run build

      - name: "Run Unit Tests: all workspaces"
        working-directory: ./
        run: npm run test
