name: Lint

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/*lint*.yml
      - apps/**
  pull_request:
    paths:
      - .github/workflows/*lint*.yml
      - apps/**

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-22.04
    env:
      NPM_VERSION: "8.11.0"

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: "./.nvmrc"
          cache: "npm"
          cache-dependency-path: "./package-lock.json"

      - name: Upgrade npm
        run: npm install --location=global npm@${{ env.NPM_VERSION }}

      - name: "Install dependencies: workspace"
        working-directory: ./
        run: npm install

      - name: "Setup: all workspaces"
        working-directory: ./
        run: npm run build

      - name: "Run ESlint: all workspaces"
        working-directory: ./
        # Pass arg to eslint so that any warnings will raise error code and fail workflow.
        run: npm run lint -- -- --max-warnings=0

      - name: "Run typescript linting: all workspaces"
        # Allow tsc linting to happen even if js linting step raises errors.
        if: always()
        working-directory: ./
        run: npm run tsc
