name: PHPUnit

on:
  push:
    branches: [main]
  merge_group:
    branches: [main]
  pull_request:

jobs:
  phpunit:
    name: PHPUnit
    runs-on: ubuntu-22.04
    env:
      GCNOTIFY_API_KEY: ${{ secrets.GCNOTIFY_API_KEY }}

    services:
      postgres:
        image: postgres:12.15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password1234
          POSTGRES_DB: gctalent
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 3

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Add postgres extension pgcrypto # not included with postgres 12
        run: docker run --rm --network ${{ job.container.network }} postgres:12.15 sh -c "PGPASSWORD=password1234 exec psql -h postgres -d gctalent -p 5432 -U postgres -t -c 'CREATE EXTENSION IF NOT EXISTS pgcrypto';"

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"
          extensions: bcmath

      - name: Install composer dependencies
        working-directory: api
        run: |
          cp .env.example .env
          composer install --prefer-dist --no-scripts

      - name: PHPUnit tests
        working-directory: api
        env:
          DB_HOST: localhost
        run: php artisan test --coverage-clover=coverage.xml

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: coverage.xml
