name: PHPUnit

on:
  push:
    branches: [main]
  merge_group:
    branches: [main]
  pull_request:

jobs:
  phpunit:
    name: PHPUnit
    runs-on: ubuntu-24.04
    env:
      GCNOTIFY_API_KEY: ${{ secrets.GCNOTIFY_API_KEY }}
      GCNOTIFY_TEMPLATE_APPLICATION_DEADLINE_APPROACHING_EN: ${{ vars.GCNOTIFY_TEMPLATE_APPLICATION_DEADLINE_APPROACHING_EN }}
      GCNOTIFY_TEMPLATE_APPLICATION_DEADLINE_APPROACHING_FR: ${{ vars.GCNOTIFY_TEMPLATE_APPLICATION_DEADLINE_APPROACHING_FR }}
      GCNOTIFY_TEMPLATE_APPLICATION_STATUS_CHANGED_EN: ${{ vars.GCNOTIFY_TEMPLATE_APPLICATION_STATUS_CHANGED_EN }}
      GCNOTIFY_TEMPLATE_APPLICATION_STATUS_CHANGED_FR: ${{ vars.GCNOTIFY_TEMPLATE_APPLICATION_STATUS_CHANGED_FR }}
      GCNOTIFY_TEMPLATE_NEW_JOB_POSTED_EN: ${{ vars.GCNOTIFY_TEMPLATE_NEW_JOB_POSTED_EN }}
      GCNOTIFY_TEMPLATE_NEW_JOB_POSTED_FR: ${{ vars.GCNOTIFY_TEMPLATE_NEW_JOB_POSTED_FR }}
      GCNOTIFY_TEMPLATE_TALENT_REQUEST_SUBMISSION_CONFIRMATION_ENFR: ${{ vars.GCNOTIFY_TEMPLATE_TALENT_REQUEST_SUBMISSION_CONFIRMATION_ENFR }}
      GCNOTIFY_TEMPLATE_NOMINATION_RECEIVED_SUBMITTER_EN: ${{ vars.GCNOTIFY_TEMPLATE_NOMINATION_RECEIVED_SUBMITTER_EN }}
      GCNOTIFY_TEMPLATE_NOMINATION_RECEIVED_SUBMITTER_FR: ${{ vars.GCNOTIFY_TEMPLATE_NOMINATION_RECEIVED_SUBMITTER_FR }}
      GCNOTIFY_TEMPLATE_NOMINATION_RECEIVED_NOMINATOR_EN: ${{ vars.GCNOTIFY_TEMPLATE_NOMINATION_RECEIVED_NOMINATOR_EN }}
      GCNOTIFY_TEMPLATE_NOMINATION_RECEIVED_NOMINATOR_FR: ${{ vars.GCNOTIFY_TEMPLATE_NOMINATION_RECEIVED_NOMINATOR_FR }}
      GCNOTIFY_TEMPLATE_APPLICATION_RECEIVED_EN: ${{ vars.GCNOTIFY_TEMPLATE_APPLICATION_RECEIVED_EN }}
      GCNOTIFY_TEMPLATE_APPLICATION_RECEIVED_FR: ${{ vars.GCNOTIFY_TEMPLATE_APPLICATION_RECEIVED_FR }}
      GCNOTIFY_TEMPLATE_APPLICATION_DEADLINE_EXTENDED_EN: ${{ vars.GCNOTIFY_TEMPLATE_APPLICATION_DEADLINE_EXTENDED_EN }}
      GCNOTIFY_TEMPLATE_APPLICATION_DEADLINE_EXTENDED_FR: ${{ vars.GCNOTIFY_TEMPLATE_APPLICATION_DEADLINE_EXTENDED_FR }}
      DB_HOST: localhost

    services:
      postgres:
        image: postgres:16.10
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password1234
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 3

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      # The init scripts aren't checked out yet when the database is initialized.  Run the ones we need manually afterwards.
      - name: Initialize database
        working-directory: infrastructure/db
        run: |
          PGPASSWORD=password1234 psql -h localhost -U postgres -a -f 2_template1.sql
          PGPASSWORD=password1234 psql -h localhost -U postgres -a -f 3_create-tc-db.sql

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.4"
          extensions: bcmath
          coverage: pcov

      - name: Install api dependencies
        working-directory: api
        run: |
          sudo apt-get update
          sudo apt-get install --yes --no-install-recommends postgresql-client
          cp .env.example .env
          composer install --prefer-dist --no-scripts

      - name: PHPUnit tests
        working-directory: api
        run: |
          if [ github.actor != 'dependabot[bot]' ]; then
            php artisan test --parallel --processes=2 --coverage-clover=coverage.xml
          else
            php artisan test
          fi

      - name: Upload coverage report to Codecov
        if: github.actor != 'dependabot[bot]'
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.xml
          flags: integrationtests
          fail_ci_if_error: false

      # Allows SSH access into CI environment for up to 1h.
      # Use `touch ~/continue` with session to end each one.
      # Only enable when trying to troubleshoot.
      #
      # Note: Be cautious, as secrets in environment can be compromised.
      #   Consider using in PRs from forks, without secrets available.
      #
      # See: https://github.com/owenthereal/action-upterm
      # - name: Create upterm session for debug
      #   uses: owenthereal/action-upterm@v1
      #   with:
      #     # Restrict to the user who triggered the workflow.
      #     limit-access-to-actor: true
      #     # Shut down the server if unconnected after a few minutes.
      #     wait-timeout-minutes: 15
      #   if: ${{ always() }}
