name: PHP Unit Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  phpunit:
    runs-on: ubuntu-22.04
    container:
      image: kirschbaumdevelopment/laravel-test-runner:8.1
      env:
        GCNOTIFY_API_KEY: ${{ secrets.GCNOTIFY_API_KEY }}

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password1234
          POSTGRES_DB: gctalent
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 3

    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.1"
          extensions: bcmath

      - name: Install composer dependencies
        working-directory: api
        run: |
          cp .env.example .env
          composer install --prefer-dist --no-scripts

      - name: PHPUnit tests
        working-directory: api
        run: php artisan test
