[data-orientation="vertical"].ScrollArea__Scrollbar {
  width: 10px;
}

[data-orientation="horizontal"].ScrollArea__Scrollbar {
  flex-direction: column;
  height: 10px;
}

.ScrollArea__Thumb:before {
  content: "";
  height: 100%;
  left: 50;
  min-height: 44px;
  min-width: 44px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
